{% extends "layout.html" %}

{% block page_title %}
Permit Application Confirmation - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <a href="../task-list-page.html" class="link-back" title="Back to previous question">Back</a>
    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        On site
    </h1>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="heading-large">
                    On site work confirmed
                </h1>
                {% if data['actual-start-date-day'] != '' %}
                <p>Work started: {{ data['actual-start-date-day'] }}/{{ data['actual-start-date-month'] }}/{{ data['actual-start-date-year'] }}  {{ data['actual-start-date-hour'] }}:{{ data['actual-start-date-minute'] }}</p>
                {% endif %}
                {% if data['actualEndDateDay'] != '' %}
                <p>Work stopped: {{ data['actualEndDateDay'] }}/{{ data['actualEndDateMonth'] }}/{{ data['actualEndDateYear'] }}  {{ data['actualEndDateHour'] }}:{{ data['actualEndDateMinute'] }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div style="padding-top: 10px">
        <a href="../task-list-page" class="button" style="margin-right: 20px;">Return to work record</a>
        <a href="./dashboard" style="vertical-align: bottom">Return to homepage</a>
    </div>
</main>

{% endblock %}