{% extends "layout.html" %}

{% block page_title %}
Withdraw Work Confirmation - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">
                    Forward plan withdrawn
                </h1>
                <p class="font-large">
                    The forward plan with work reference number <strong class="bold">CT0224443466</strong> has been withdrawn.
                </p>
            </div>
        </div>
    </div>

    <div style="padding-top: 10px">
        <a href="dashboard" style="vertical-align: bottom">Return to dashboard</a>
    </div>
</main>

{% endblock %}