{% extends "alpha/v2-0/map-layout.html" %}

{% block page_title %}
Forward Planning - Street Manager
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.5.0/build/ol.js" type="text/javascript"></script>
<script src="/public/javascripts/map_styles.js"></script>
<script src="/public/javascripts/v5-0/map_controls.js"></script>

<main id="content" role="main" style="padding:0px">
    <!-- alpha banner -->
    {% include "includes/phase_banner_alpha.html" %}
</main>

<div id="map" class="map">

</div>

<div class="arrow_box" id="popup-container"></div>

<div id="search-panel" class="charge-list">
    <div id="functions-panel">
        <a href="map-search.html">< Back</a>

        <div id="results" class="results-block">
            <h1 class="heading-small">Location: <span id="titleText">W3 7XA</span></h1>
            <p>The Vale<br>London Borough of Ealing<br></p>
        </div>

        <div id="layers" class="results-block">
            <h1 class="heading-small">Select layers:</h1>
            <form>
                <fieldset>
                    <div class="multiple-choice">
                        <input id="layer-type-1" name="layer-types" type="checkbox" value="layer-other-planned-works">
                        <label for="layer-type-1">My works</label>
                        <img src="/public/images/map-marker-red.png">
                    </div>
                    <div class="multiple-choice">
                        <input id="layer-type-2" name="layer-types" type="checkbox" value="layer-planned-works">
                        <label for="layer-type-2">My plans</label>
                        <img src="/public/images/map-marker-yellow.png">
                    </div>
                    <div class="multiple-choice">
                        <input id="layer-type-3" name="layer-types" type="checkbox" value="layer-current-works">
                        <label for="layer-type-3">Third party works</label>
                        <img src="/public/images/map-marker-blue.png">
                    </div>
                    <div class="multiple-choice">
                        <input id="layer-type-5" name="layer-types" type="checkbox" value="layer-restrictions">
                        <label for="layer-type-5">Third party plans</label>
                        <img src="/public/images/map-marker-green.png">
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="dateFilter">
            <h1 class="heading-small">Select period of interest:</h1>
            <form>
                <select class="form-control" id="period-of-interest" name="period-of-interest">
                    <option value="0">Today</option>
                    <option value="1">2 weeks</option>
                    <option value="2" selected>3 months</option>
                    <option value="3">1 year</option>
                </select>
            </form>
        </div>

        {% if data['map-flow'] !== 'map' %}
        <div id="draw-controls">
            <h1 class="heading-small">Draw works area:</h1>

            <div class="form-group">
                <label class="form-label" for="polygon">Choose drawing type:</label>
                <div class="multiple-choice">
                    <input id="polygon" type="radio" name="drawing-type" value="Polygon" checked>
                    <label for="polygon">Polygon</label>
                </div>
                <div class="multiple-choice">
                    <input id="line" type="radio" name="drawing-type" value="Line">
                    <label for="line">Line</label>
                </div>
                <div class="multiple-choice">
                    <input id="point" type="radio" name="drawing-type" value="Point">
                    <label for="point">Point</label>
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <input id="draw-button" class="button" type="button" name="draw-button" value="Draw">
                </fieldset>
            </div>
        </div>
        {% endif %}
    </div>


    <div class="form-group" id="create-works-panel" style="display: none;">
        <a id="return-to-options" href="#">< Back to map options</a>

        {% if data['map-flow'] == 'work' %}
        <h1 class="heading-small">New works area drawn</h1>
        <p>Click below to create works for this area:</p>
        <fieldset>
            <form action="../task-list-page">
                <input style="width: 100%;" id="create-work-button" class="button" type="submit" name="create-work-button" value="Create work">
            </form>
        </fieldset>
        {% endif %}

        {% if data['map-flow'] == 'plan' %}
        <h1 class="heading-small">New forward plan area drawn</h1>
        <p>Click below to create forward plan for this area:</p>
        <fieldset>
            <form action="create-forward-plan">
                <input style="width: 100%;" id="create-forward-plan-button" class="button" type="submit" name="create-forward-plan-button" value="Create forward plan">
            </form>
        </fieldset>
        {% endif %}
    </div>

</div>

<style>

    #map {
        width: 100%;
        position: relative;
    }

    #slider {
        border-radius: 4px;
        background: #fff;
        padding: 2px;
        position: absolute;
        width: 450px;
        bottom: 20px;
        right: 50px;
    }

    .ui-slider-handle.ui-corner-all.ui-state-default {
        background-color: darkgray;
        border: 1px solid black;
    }
    .ui-slider-range.ui-corner-all.ui-widget-header {
        background-color: #adadad;
    }
    .ol-scale-line {
        position: absolute;
        left: 540px;
        bottom: 20px;
    }

    #draw-controls {
        right: 3%;
    }

    .ui-slider .ui-slider-handle {
        width: 1.9em;
    }

    .arrow_box {
        position: relative;
        background: #fff;
        border: 1px solid #003c88;
        border-radius: 5px;
        padding: 10px;
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .arrow_box:before {
        border-color: rgba(153, 153, 153, 0);
        border-top-color: #003c88;
        border-width: 11px;
        margin-left: -11px;
    }
</style>




<script type="text/javascript">
  var MAP_CONFIG = {};

  (function (MAP_CONFIG) {

    MAP_CONFIG.draw_layer_zindex = 2;
    // Draw Source
    MAP_CONFIG.draw_features = new ol.Collection();
    //MAP_CONFIG.draw_controls = new MAP_CONTROLS.draw_controls();
    MAP_CONFIG.draw_source = new ol.source.Vector({ features: MAP_CONFIG.draw_features });
    MAP_CONFIG.draw_layer = new ol.layer.Vector({
      source: MAP_CONFIG.draw_source,
      style: draw_layer_styles.style[draw_layer_styles.NONE],
      zIndex: MAP_CONFIG.draw_layer_zindex
    })
    MAP_CONFIG.base_layer = new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  })(MAP_CONFIG);

  // Set 
  $("#layer-type-1").prop('checked', true);
  $("#layer-type-2").prop('checked', true);

  $('#draw-button').click(function() {
      MAP_CONTROLS.add_draw_interaction('Polygon', this)
  })

  $('#return-to-options').click(function(){
      document.getElementById('create-works-panel').style.display = "none";
      document.getElementById('functions-panel').style.display = "";
      map.removeInteraction(MAP_CONTROLS.current_interaction);
      $('#active-control').removeAttr('id')
      MAP_CONFIG.draw_source.clear();
      MAP_CONTROLS.toggle_draw_layer_style(draw_layer_styles.NONE)
      MAP_CONTROLS.current_interaction = null
  })

  var scaleLine = new ol.control.ScaleLine()

  var map = new ol.Map({
    target: 'map',
    layers: [MAP_CONFIG.base_layer, MAP_CONFIG.draw_layer],
    controls: ol.control.defaults({attribution: false}).extend([
      scaleLine
    ]),
    view: new ol.View({
      center: ol.proj.fromLonLat([-0.252, 51.5073]),
      zoom: 17
    })
  });

  var asset1 = new ol.Feature (
    {
      geometry: new ol.geom.Point([-27437.90733296088, 6711495.343644402]),
      text: 'Type: Critical mains'
    })
  asset1.setId(1);

  var asset2 = new ol.Feature (
    {
      geometry: new ol.geom.Point([-28158.910218514742, 6711424.237059503]),
      text: 'Type: Critical mains'
    })
  asset2.setId(2);

  var assets = [asset1, asset2]


  var assetsSource = new ol.source.Vector({
    features: assets
  });
  const AssetLayer = new ol.layer.Vector({
    source: assetsSource,
    visible: true
  });
  map.addLayer(AssetLayer);

  AssetLayer.setStyle(new ol.style.Style({
    image: new ol.style.Icon({
      src: '/public/images/map-marker-red.png',
      anchor: [0.5, 25],
      anchorXUnits: 'fraction',
      anchorYUnits: 'pixels',
    })
  }));

  var plannedWork1 = new ol.Feature({
    geometry: new ol.geom.Point([-28362.439943029985, 6711412.323589153]),
    text: 'Work Type: Footway resurfacing <br/>' +
      'Road owner: London Borough of Ealing <br/>' +
      'Start date: 01/03/2018 <br/>' +
      'End date: 10/03/2018 <br/>' +
      'Status: Draft forward plan <br/>' +
      'Promoter name: Michael Harris <br/>' +
      'Promoter agent: Cadent <br/>' +
      'Contact: 0345 045 5212 <br/>' +
      '<a href="work-record-not-editable">View forward plan</a>',
    dateOfWorks: new Date('2018/02/23').getTime() / 1000
  })
  plannedWork1.setId(1);

  var plannedWork3 = new ol.Feature({
    geometry: new ol.geom.Point([-27800.130896630297, 6711420.357825179]),
    text: 'Work ref: CT0224443466 <br/>' +
     'Description: Disconnect 1 X 32MM PE Service from main in carriageway <br/>' +
     'Road owner: London Borough of Ealing <br/>' +
     'Start date: 09/05/2018 <br/>' +
     'End date: 19/06/2018 <br/>' +
     'Status: Submitted for PA Approval <br/>' +
     'Promoter name: Openreach <br/>' +
     'Promoter agent: FM Conway LTD <br/>' +
     'Contact: 0345 045 5212 <br/>' +
     '<a href="#">View work record</a>',
    dateOfWorks: new Date('2018/02/23').getTime() / 1000
  })
  plannedWork3.setId(3);

  var plannedWorks = [plannedWork1, plannedWork3]

  const plannedWorksSource = new ol.source.Vector({
    features: plannedWorks
  });
  const plannedWorksLayer = new ol.layer.Vector({
    source: plannedWorksSource,
    visible: false
  });

  plannedWorksLayer.setStyle(new ol.style.Style({
    image: new ol.style.Icon({
      src: '/public/images/map-marker-blue.png',
      anchor: [0.5, 25],
      anchorXUnits: 'fraction',
      anchorYUnits: 'pixels',
    })
  }));

  map.addLayer(plannedWorksLayer);
  
  var myPlans = [];

  var myPlan1 = new ol.Feature({
    geometry: new ol.geom.Point([-27951.255302671834, 6711525.714349004])
  });
  myPlans.push(myPlan1);

  var myPlan2 = new ol.Feature({
    geometry: new ol.geom.Point([-27663.594152667916, 6711422.727383554]),
    text: 'Traffic management type: {{data['trafficmanagementtypegroup']}} <br/>' +
      'Highway authority: {{data['highwayauthority']}} <br/>' +
      'Start date: {{data['start-day']}}/{{data['start-month']}}/{{data['start-year']}} <br/>' +
      'End date: {{data['end-day']}}/{{data['end-month']}}/{{data['end-year']}}<br/>' +
      'Status: Planned works <br/>' +
      'Promoter name: {{data['promotername']}} <br/>' +
      'Promoter agent: {{data['promoter-agent']}} <br/>' +
      'Contact: {{data['contact-details']}} <br/>' +
      '<a href="/alpha/v5-0/promoter-planner/work-record">View forward plan</a>'
  })

  if ({{ data['map-flow'] === 'map'}}) {
    myPlans.push(myPlan2);
  }

  var myPlansSource = new ol.source.Vector({
    features: myPlans
  });
  var myPlansLayer = new ol.layer.Vector({
    source: myPlansSource,
    visible: true
  });

  myPlansLayer.setStyle(new ol.style.Style({
    image: new ol.style.Icon({
      src: '/public/images/map-marker-yellow.png',
      anchor: [0.5, 25],
      anchorXUnits: 'fraction',
      anchorYUnits: 'pixels',
    })
  }))

  map.addLayer(myPlansLayer);


  var overlay = new ol.Overlay({
    element: document.getElementById('popup-container'),
    positioning: 'bottom-center',
    offset: [0, -10]
  });
  map.addOverlay(overlay);

  map.on('click', function(e) {
    overlay.setPosition();
    var features = map.getFeaturesAtPixel(e.pixel);
    if (features && features[0].get('text')) {
      var coords = features[0].getGeometry().getCoordinates();
      var string = features[0].get('text');
      overlay.getElement().innerHTML = string;
      overlay.setPosition(coords);
    }
  });

  var dateOptions =  {year: 'numeric', month: 'numeric', day: 'numeric'};

    
  $('#layer-type-1').change(function (event) {
    var checkbox = event.target;
    if (checkbox.checked) {
      AssetLayer.setVisible(true);
    } else {
      AssetLayer.setVisible(false);
    }
  });

  $("#layer-type-3").change(function(event) {
    var checkbox = event.target;
    if (checkbox.checked) {
      plannedWorksLayer.setVisible(true)
    } else {
      plannedWorksLayer.setVisible(false)
    }
  });

   $("#layer-type-2").change(function(event) {
    var checkbox = event.target;
    if (checkbox.checked) {
      myPlansLayer.setVisible(true)
    } else {
      myPlansLayer.setVisible(false)
    }
  });

  map.on('click', function (event) {
    console.log(event.coordinate)
  });

  $('#period-of-interest').change(function(event) {
      if( $('#period-of-interest').val() == 1) {
          plannedWorksSource.removeFeature(plannedWork3);
          assetsSource.removeFeature(asset1)
      } else if ($('#period-of-interest').val() == 2) {
          plannedWorksSource.addFeature(plannedWork3);
          assetsSource.addFeature(asset1)
      }
  })

</script>

{% endblock %}