{% extends "alpha/v2-0/map-layout.html" %}

{% block page_title %}
Forward Planning - Street Manager
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.5.0/build/ol.js" type="text/javascript"></script>

<main id="content" role="main" style="padding:0px">
    <!-- alpha banner -->
    {% include "includes/phase_banner_alpha.html" %}
</main>

<div id="map" class="map" style="width: 100%"></div>

<div id="search-panel">
    <h1 class="heading-medium">How do you want to search?</h1>
    <form action="map-search" method="POST">
        <div class="form-group">
            <fieldset>
                <div class="form-group spacing-bottom-half">
                    <label class="form-label" for="search">Search by area, postcode, street name, USRN, WRN or project number</label>
                    <input class="form-control" id="search" name="search" type="text" value="" autofocus="autofocus">
                    <input id="map-search-button" class="button" type="submit" name="map-search-button" value="Search">
                </div>
            </fieldset>
        </div>
    </form>
</div>

<script type="text/javascript">
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([-0.25, 51.5074]),
      zoom: 11
    })
  });
</script>

{% endblock %}