{% extends "layout.html" %}

{% block page_title %}
Permit Application Confirmation - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <a href="../task-list-page.html" class="link-back" title="Back to task list">Back</a>

    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        Assessment
    </h1>

    {% include "../templates/keyinfo.html" %}

    <div class="heading-medium">Assessment decision</div>

    <form action="permit-application-assessment" method="post" >
     <div class="heading-small">Start date changed from {{ data['old-start-day'] }}/{{ data['old-start-month'] }}/{{ data['old-start-year'] }} to {{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}<br/>
        End Date changed from {{ data['old-end-day'] }}/{{ data['old-end-month'] }}/{{ data['old-end-year'] }} to {{ data['end-day'] }}/{{ data['end-month'] }}/{{ data['end-year'] }}</div>
                <fieldset class="inline">
                    <div class="form-group">
                        <br/>
                        <label class="form-label" for="accept-change1-yes">Accept</label>
                        <div class="multiple-choice">
                            <input id="accept-change1-yes" type="radio" name="change-1-group" value="Yes">
                            <label for="accept-change1-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="accept-change1-no" type="radio" name="change-1-group" value="No">
                            <label for="accept-change1-no">No</label>
                        </div>
                    </div>
                </fieldset>

            <div class="heading-small">New Condition {{ data['conditions-name'][1] }} - {{ data['conditions-reason'][1] }}</div>
                <fieldset class="inline">
                    <div class="form-group">
                        <br/>
                        <label class="form-label" for="accept-change2-yes">Accept</label>
                        <div class="multiple-choice">
                            <input id="accept-change2-yes" type="radio" name="change-2-group" value="Yes" >
                            <label for="accept-change2-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="accept-change2-no" type="radio" name="change-2-group" value="No">
                            <label for="accept-change2-no">No</label>
                        </div>
                    </div>
                </fieldset>

        <div style="background-color: #DEE0E2; padding: 0 0 10px 10px; margin-bottom: 20px">
            <div class="heading-medium">Assessment comments</div>
            <p>Comments by HA officer: Sarah Brown</p>
            <p>27 Feb 2018</p>
            <p><pre>{{ data['comment'] }}</pre></p>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Submit">
        </div>
    </form>

</main>

{% endblock %}