{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <div class="heading-large">WRN {{ data['workreferencenumber'] }}</div>

    <h2 class="heading-medium">People</h2>
    <table style="width:100%;">
        <tbody>
            <colgroup>
                <col style="width:60%"/>
                <col style="width:30%"/>
                <col style="width:10%"/>
            </colgroup>
            <tr>
                <td>Promoter name</td>
                <td>{{ data['promotername'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-people#promotername">
                        Change <span class="visuallyhidden">promoter name</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Contact details</td>
                <td>{{ data['contact-details'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-people#contact-details">
                        Change <span class="visuallyhidden">contact details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Promoter agent</td>
                <td>{{ data['promoter-agent'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-people#promoter-agent">
                        Change <span class="visuallyhidden">promoter agent</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Secondary site contact details</td>
                <td>{{ data['secondary-contact'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-people#secondary-contact">
                        Change <span class="visuallyhidden">secondary contact</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Activity</h2>
    <table style="width:100%;">
        <tbody>
            <colgroup>
                <col style="width:60%"/>
                <col style="width:30%"/>
                <col style="width:10%"/>
            </colgroup>
            <tr>
                <td>Description of work #1</td>
                <td>{{ data['description-of-work-group'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-activity#description-of-work-group">
                        Change <span class="visuallyhidden">description of work #1</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description of work #2</td>
                <td>{{ data['description-of-work-2'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-activity#description-of-work-2">
                        Change <span class="visuallyhidden">description of work #2</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Excavation</td>
                <td>{{ data['excavation-group'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-activity#excavation-group">
                        Change <span class="visuallyhidden">excavation</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Work category</td>
                <td>{{ data['workcategorygroup'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-activity#workcategorygroup">
                        Change <span class="visuallyhidden">work category</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="heading-medium">Control</h2>
    <table style="width:100%;">
        <tbody>
            <colgroup>
                <col style="width:60%"/>
                <col style="width:30%"/>
                <col style="width:10%"/>
            </colgroup>
            <tr>
                <td>Work reference number</td>
                <td>{{ data['workreferencenumber'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#workreferencenumber">
                        Change <span class="visuallyhidden">work reference number</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Project reference number</td>
                <td>{{ data['project-reference'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#project-reference">
                        Change <span class="visuallyhidden">project reference number</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Traffic management type</td>
                <td>{{ data['trafficmanagementtypegroup'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#trafficmanagementtypegroup">
                        Change <span class="visuallyhidden">traffic management type</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Is Traffic management required</td>
                <td>{{ data['tm-group'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#tm-yes">
                        Change <span class="visuallyhidden">TM required</span>
                    </a>
                </td>
            </tr>
            {% for fileName in data['file-attached-detail'] %}
            <tr>
                <td>Traffic Management Plan</td>
                <td>{{ fileName }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#traffic-management-plan">
                        Change <span class="visuallyhidden">traffic management plan</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Commercially sensitive</td>
                <td>{{ data['commercially-sensitive-group'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#commercially-sensitive-group">
                        Change <span class="visuallyhidden">commercially sensitive</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Lane rental applicable</td>
                <td>{{ data['lane-rental-group'] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control#lane-rental-group">
                        Change <span class="visuallyhidden">lane rental applicable</span>
                    </a>
                </td>
            </tr>
            {% for condition in data['conditions-name'] %}
            <tr>
                <td>{{ condition }}</td>
                <td>{{ data['conditions-reason'][loop.index -1 ] }}</td>
                <td class="change-answer">
                    <a href="work-record-detail-control">
                        Change <span class="visuallyhidden">{{ condition }}</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2 class="heading-medium">Location</h2>
    <table style="width:100%;">
        <tbody>
        <colgroup>
            <col style="width:60%"/>
            <col style="width:30%"/>
            <col style="width:10%"/>
        </colgroup>
        <tr>
            <td>Work reference number</td>
            <td>{{ data['workreferencenumber'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#workreferencenumber">
                    Change <span class="visuallyhidden">work reference number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Project reference number</td>
            <td>{{ data['project-reference'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#project-reference">
                    Change <span class="visuallyhidden">project reference number</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Traffic management type</td>
            <td>{{ data['trafficmanagementtypegroup'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#trafficmanagementtypegroup">
                    Change <span class="visuallyhidden">traffic management type</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Is Traffic management required</td>
            <td>{{ data['tm-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#tm-yes">
                    Change <span class="visuallyhidden">TM required</span>
                </a>
            </td>
        </tr>
        {% for fileName in data['file-attached-detail'] %}
        <tr>
            <td>Traffic Management Plan</td>
            <td>{{ fileName }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#traffic-management-plan">
                    Change <span class="visuallyhidden">traffic management plan</span>
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>Commercially sensitive</td>
            <td>{{ data['commercially-sensitive-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#commercially-sensitive-group">
                    Change <span class="visuallyhidden">commercially sensitive</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Lane rental applicable</td>
            <td>{{ data['lane-rental-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control#lane-rental-group">
                    Change <span class="visuallyhidden">lane rental applicable</span>
                </a>
            </td>
        </tr>
        {% for condition in data['conditions-name'] %}
        <tr>
            <td>{{ condition }}</td>
            <td>{{ data['conditions-reason'][loop.index -1 ] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-control">
                    Change <span class="visuallyhidden">{{ condition }}</span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="heading-medium">Timings</h2>
    <table style="width:100%;">
        <tbody>
        <colgroup>
            <col style="width:60%"/>
            <col style="width:30%"/>
            <col style="width:10%"/>
        </colgroup>
        <tr>
            <td>Proposed start date</td>
            {% if data['start-day'] != '' %}
            <td>{{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td class="change-answer">
                <a href="work-record-detail-timings#start-date-day">
                    Change <span class="visuallyhidden">start date</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Proposed end date</td>
            {% if data['end-day'] != '' %}
            <td>{{ data['end-day'] }}/{{ data['end-month'] }}/{{ data['end-year'] }}</td>
            {% else %}
            <td></td>
            {% endif %}
            <td class="change-answer">
                <a href="work-record-detail-timings#end-date-day">
                    Change <span class="visuallyhidden">end date</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{{ data['duration'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-timings#duration">
                    Change <span class="visuallyhidden">duration</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2 class="heading-medium">Coordination & collaboration</h2>
    <table style="width:100%;">
        <tbody>
        <colgroup>
            <col style="width:60%"/>
            <col style="width:30%"/>
            <col style="width:10%"/>
        </colgroup>
        <tr>
            <td>Environmental health notifiable</td>
            <td>{{ data['environmental-health-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-coordination-collaboration#environmental-health-yes">
                    Change <span class="visuallyhidden">environmental health notifiable</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Collaborative working</td>
            <td>{{ data['collaboration-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-coordination-collaboration#collaboration-yes">
                    Change <span class="visuallyhidden">collaborative working</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Collaboration type</td>
            <td>{{ data['collaboration-type-group'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-coordination-collaboration#collaboration-type-1">
                    Change <span class="visuallyhidden">collaboration type</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Collaboration details</td>
            <td>{{ data['collaboration-details'] }}</td>
            <td class="change-answer">
                <a href="work-record-detail-coordination-collaboration#collaboration-details">
                    Change <span class="visuallyhidden">collaboration details</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">All sections are now complete, you are ready to submit this work record</h2>

    <p class="text">
        By submitting this work record you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <div class="form-group">
        <a href="confirm-permit-application.html" class="button">Submit</a>
    </div>
</main>

{% endblock %}