{% extends "layout.html" %}

{% block page_title %}
Reinstatement - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        Reinstatement
    </h1>

    {% include "../templates/keyinfo.html" %}

    <br/>

    {% if data['reinstatement-status-group'] %}
        <form action="all-sites" method="post">
            <div id="reinstatements-table">
                <h3 class="heading-medium">Reinstatement sites</h3>
                <table id="reinstatements">
                    <thead>
                    <th></th>
                    <th>Status</th>
                    <th>Completion date</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Location description</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for reinstatementStatus in data['reinstatement-status-group'] %}
                    <tr id="{{ loop.index }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ reinstatementStatus  }}</td>
                        <td>{{ data['reinstatement-day'][loop.index -1 ] }}/{{ data['reinstatement-month'][loop.index -1 ] }}/{{ data['reinstatement-year'][loop.index -1 ] }}</td>
                        <td>{{ data['reinstatement-length'][loop.index -1 ] }}</td>
                        <td>{{ data['reinstatement-width'][loop.index -1 ] }}</td>
                        <td>{{ data['reinstatement-location-description'][loop.index -1 ] }}</td>
                        <td><span class="view-reinstatement"><a href="reinstatement-detail-view">View</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="form-group" id="add-all-reinstatements" style="background-color: #DEE0E2; padding: 10px 0 10px 10px; margin-bottom: 40px">
                <p>All reinstatements complete?</p>
                <input type="button" class="button" value="Add inspection units">
                <p></p>
            </div>

            <div style="display:none; background-color: #DEE0E2; padding: 10px 0 10px 10px; margin-bottom: 40px" id="inspection-units">
                <p>All reinstatements complete?</p>
                <div class="grid-row">
                    <div class="column-one-third">
                        <div class="form-group">
                            <label class="form-label" for="inspection-units">Actual inspection units</label>
                            <input class="form-control" id="inspection-units" name="inspection-units" type="number" value="{{ data['inspection-units'] }}" pattern="[0-9]*" min="0" max="2000">
                        </div>
                        <div class="form-group" id="register-reinstatement">
                            <input type="submit" class="button" value="Register Reinstatement">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    <form action="reinstatement" method="post" >
        <div id="single-reinstatement" class="heading-medium">Add a reinstatement</div>
        <div id="multiple-reinstatement" class="heading-medium" style="display:none;">Add another reinstatement</div>

        {% for reinstatementStatus in data['reinstatement-status-group'] %}
            <input class="form-control" name="reinstatement-status-group[]" type="hidden" value="{{ reinstatementStatus  }}">
            <input class="form-control" name="reinstatement-day[]" type="hidden" value="{{ data['reinstatement-day'][loop.index - 1]  }}">
            <input class="form-control" name="reinstatement-month[]" type="hidden" value="{{ data['reinstatement-month'][loop.index - 1]  }}">
            <input class="form-control" name="reinstatement-year[]" type="hidden" value="{{ data['reinstatement-year'][loop.index - 1]  }}">
            <input class="form-control" name="depth-group[]" type="hidden" value="{{ data['depth-group'][loop.index - 1]  }}">
            <input class="form-control" name="reinstatement-length[]" type="hidden" value="{{ data['reinstatement-length'][loop.index - 1]  }}">
            <input class="form-control" name="reinstatement-width[]" type="hidden" value="{{ data['reinstatement-width'][loop.index - 1]  }}">
            <input class="form-control" name="location-x[]" type="hidden" value="{{ data['location-x'][loop.index - 1]  }}">
            <input class="form-control" name="location-y[]" type="hidden" value="{{ data['location-y'][loop.index - 1]  }}">
            <input class="form-control" name="works-position-group[]" type="hidden" value="{{ data['works-position-group'][loop.index - 1]  }}">
            <input class="form-control" name="reinstatement-location-description[]" type="hidden" value="{{ data['reinstatement-location-description'][loop.index - 1]  }}">
            <input class="form-control" name="warranty-end-day[]" type="hidden" value="{{ data['warranty-end-day'][loop.index - 1]  }}">
            <input class="form-control" name="warranty-end-month[]" type="hidden" value="{{ data['warranty-end-month'][loop.index - 1]  }}">
            <input class="form-control" name="warranty-end-year[]" type="hidden" value="{{ data['warranty-end-year'][loop.index - 1]  }}">
        {% endfor %}

        <fieldset class="inline">
            <div class="form-group">
                <br/>
                <label class="form-label" for="reinstatement-permanent">Reinstatement status</label>
                <div class="multiple-choice">
                    <input id="reinstatement-permanent" type="radio" name="reinstatement-status-group[]" value="Permanent" >
                    <label for="reinstatement-permanent">Permanent</label>
                </div>
                <div class="multiple-choice">
                    <input id="reinstatement-interim" type="radio" name="reinstatement-status-group[]" value="Interim" >
                    <label for="reinstatement-interim">Interim</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="reinstatement-day">Reinstatement date</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="reinstatement-day">Day</label>
                        <input class="form-control" id="reinstatement-day" name="reinstatement-day[]" type="number" pattern="[0-9]*" min="0" max="31">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="reinstatement-month">Month</label>
                        <input class="form-control" id="reinstatement-month" name="reinstatement-month[]" type="number" pattern="[0-9]*" min="0" max="12">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="reinstatement-year">Year</label>
                        <input class="form-control" id="reinstatement-year" name="reinstatement-year[]" type="number" pattern="[0-9]*" min="0" max="2020">
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="reinstatement-permanent">Depth</label>
                <div class="multiple-choice">
                    <input id="depth-standard" type="radio" name="depth-group[]" value="Standard">
                    <label for="depth-standard">Standard (under 1.5m)</label>
                </div>
                <div class="multiple-choice">
                    <input id="depth-deep" type="radio" name="depth-group[]" value="Deep">
                    <label for="depth-deep">Deep (over 1.5m)</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="reinstatement-length">Length
                <span class="form-hint">Hint text TBC</span>
            </label>
            <input class="form-control" id="reinstatement-length" name="reinstatement-length[]" type="text" style="width:90px;">
        </div>
        <div class="form-group">
            <label class="form-label" for="reinstatement-width">Width
                <span class="form-hint">Hint text TBC</span>
            </label>
            <input class="form-control" id="reinstatement-width" name="reinstatement-width[]" type="text" style="width:90px;">
        </div>
        <div class="form-group">
            <label class="form-label" for="location-x">Actual location coordinates</label>
            <span class="form-hint">Hint text TBC</span>
            <fieldset>
                <input class="form-control" id="location-x" name="location-x[]" type="number" style="width:90px;">
                <input class="form-control" id="location-y" name="location-y[]" type="number" style="width:90px;">
            </fieldset>
        </div>

        <div class="form-group">
        <label class="form-label" for="works-position-1">Reinstatement location</label>
            <div class="grid-row">
                <div class="column-one-third">
                    <div class="multiple-choice">
                        <input id="works-position-1" type="radio" name="works-position-group[]" value="Footway">
                        <label for="works-position-1">Footway</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-position-2" type="radio" name="works-position-group[]" value="Carriageway">
                        <label for="works-position-2">Carriageway</label>
                    </div>
                </div>
                <div class="column-one-third">
                    <div class="multiple-choice">
                        <input id="works-position-3" type="radio" name="works-position-group[]" value="Verge">
                        <label for="works-position-3">Verge</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-position-4" type="radio" name="works-position-group[]" value="Cycleway">
                        <label for="works-position-4">Cycleway</label>
                    </div>
                </div>
                <div class="column-one-third">
                    <div class="multiple-choice">
                        <input id="works-position-5" type="radio" name="works-position-group[]" value="Footpath">
                        <label for="works-position-5">Footpath</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="reinstatement-location-description">Reinstatement location description</label>
            <input class="form-control" id="reinstatement-location-description" name="reinstatement-location-description[]" type="text">
        </div>

        <div class="form-group">
            <label class="form-label" for="warranty-end-day">Warranty period end date
                <span class="form-hint">Hint text TBC</span>
            </label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="warranty-end-day">Day</label>
                        <input class="form-control" id="warranty-end-day" name="warranty-end-day[]" type="number" pattern="[0-9]*" min="0" max="31">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="warranty-end-month">Month</label>
                        <input class="form-control" id="warranty-end-month" name="warranty-end-month[]" type="number" pattern="[0-9]*" min="0" max="12">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="warranty-end-year">Year</label>
                        <input class="form-control" id="warranty-end-year" name="warranty-end-year[]" type="number" pattern="[0-9]*" min="0" max="2020">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <input type="submit" id="add-reinstatement" class="button" value="Add reinstatement">
        </div>
        <br/>
    </form>
</main>

<script type="text/javascript">

    $("#add-reinstatement").click(function () {
      $("#add-all-reinstatements").show();
      $("#reinstatements-table").show();
      $("#multiple-reinstatement").show();
      $("#single-reinstatement").hide();
    });

    $("#add-all-reinstatements").click(function () {
      $("#inspection-units").show();
      $("#add-all-reinstatements").hide();
    });

</script>


{% endblock %}