{% extends "layout.html" %}

{% block page_title %}
Reinstatement - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        Reinstatements
    </h1>

    {% include "../templates/keyinfo.html" %}

    <br/>
    <br/>

    <table>
        <thead>
            <th>Status</th>
            <th>Completion date</th>
            <th>Depth</th>
            <th>Length</th>
            <th>Width</th>
            <th>Location coords</th>
            <th>Location</th>
            <th>Location description</th>
            <th>Warranty period end date</th>
            <th></th>
        </thead>
        <tbody>
        {% for reinstatementStatus in data['reinstatement-status'] %}
        <tr>
            <td>{{ reinstatementStatus }}</td>
            <td>{{ data['reinstatement-date'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-depth'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-length'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-width'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-coordinates'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-location'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-description'][loop.index -1] }}</td>
            <td>{{ data['reinstatement-warrantydate'][loop.index -1] }}</td>
            <td class="change-answer">
                <a href="reinstatement">
                    Change <span class="visuallyhidden">{{ reinstatement }}</span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <br/>

    <div class="form-group">
        <label class="form-label" for="inspection-units">Actual inspection units</label>
        <input class="form-control" id="inspection-units" name="inspection-units" type="text" value="{{ data['inspection-units'] }}">
    </div>
    <div class="form-group">
        <a href="confirm-reinstatement" class="button">Register Reinstatement</a>
    </div>
</main>

{% endblock %}