{% extends "layout.html" %}

{% block page_title %}
Reinstatement - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <a href="reinstatement.html" class="link-back" title="Back to previous question">Back</a>

    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        Reinstatement
    </h1>

    {% include "../templates/keyinfo.html" %}

    <br/>
    <div>
        <div class="heading-medium">Site 1 detail</div>
        <table>
            <tbody>
            <tr>
                <td class="bold-small">Status</td>
                <td style="text-align: right">Permanent</td>
            </tr>
            {% if data['reinstatement-day'] != '' %}
            <tr>
                <td class="bold-small">Completion date</td>
                <td style="text-align: right">{{ data['reinstatement-day'] }}/{{ data['reinstatement-month'] }}/{{ data['reinstatement-year'] }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="bold-small">Depth</td>
                <td style="text-align: right">{{ data['depth-group'] }}</td>
            </tr>
            <tr>
                <td class="bold-small">Length</td>
                <td style="text-align: right">{{ data['reinstatement-length'] }}</td>
            </tr>
            <tr>
                <td class="bold-small">Width</td>
                <td style="text-align: right">{{ data['reinstatement-width'] }}</td>
            </tr>
            <tr>
                <td class="bold-small">Location coordinates</td>
                <td style="text-align: right">{{ data['location-x'] }} , {{ data['location-y'] }}</td>
            </tr>
            <tr>
                <td class="bold-small">Location</td>
                <td style="text-align: right">{{ data['works-position-group'] }}</td>
            </tr>
            <tr>
                <td class="bold-small">Location description</td>
                <td style="text-align: right">{{ data['reinstatement-location-description'] }}</td>
            </tr>
            {% if data['warranty-end-day'] != '' %}
            <tr>
                <td class="bold-small">Warranty period end date</td>
                <td style="text-align: right">{{ data['warranty-end-day'] }}/{{ data['warranty-end-month'] }}/{{ data['warranty-end-year'] }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}