{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <a href="../task-list-page.html" class="link-back" title="Back to previous question">Back</a>

    <h2 class="heading-large">Location</h2>

    <form action="wr-location-check-answers" method="post" >
        <div class="form-group">

            <div class="form-group">
                <label class="form-label" for="street-name">Street name</label>
                <input class="form-control" id="street-name" name="street-name" type="text" value="The Vale">
            </div>

            <div class="form-group">
                <label class="form-label" for="area-name">Area name</label>
                <input class="form-control" id="area-name" name="area-name" type="text" value="London Borough of Ealing">
            </div>

            <div class="form-group {{'form-group-error' if validationUsrnError}}">
                <label class="form-label" for="usrn">USRN</label>
                {% if validationError %}<p class="error-message">{{ validationUsrnError }}</p>{% endif %}
                <input class="form-control" id="usrn" name="usrn" type="text" value="{{ data['usrn'] }}">
            </div>

            <div class="form-group {{'form-group-error' if validationHighwayAuthorityError}}">
                <label class="form-label" for="highwayauthority">Highway authority</label>
                {% if validationError %}<p class="error-message">{{ validationHighwayAuthorityError }}</p>{% endif %}
                <input class="form-control" id="highwayauthority" type="text" name="highwayauthority" value="{{ data['highwayauthority'] }}">
            </div>

            <div class="form-group inline {{'form-group-error' if validationRoadCategoryError}}">
                <br/>
                <label class="form-label" for="road-category-0">Road category</label>
                {% if validationError %}<p class="error-message">{{ validationRoadCategoryError }}</p>{% endif %}
                <div class="multiple-choice">
                    <input id="road-category-0" type="radio" name="roadcategorygroup" value="0" {{ checked('roadcategorygroup','0') }}>
                    <label for="road-category-0">0</label>
                </div>
                <div class="multiple-choice">
                    <input id="road-category-1" type="radio" name="roadcategorygroup" value="1" {{ checked('roadcategorygroup','1') }}>
                    <label for="road-category-1">1</label>
                </div>
                <div class="multiple-choice">
                    <input id="road-category-2" type="radio" name="roadcategorygroup" value="2" {{ checked('roadcategorygroup','2') }}>
                    <label for="road-category-2">2</label>
                </div>
                <div class="multiple-choice">
                    <input id="road-category-3" type="radio" name="roadcategorygroup" value="3" {{ checked('roadcategorygroup','3') }}>
                    <label for="road-category-3">3</label>
                </div>
                <div class="multiple-choice">
                    <input id="road-category-4" type="radio" name="roadcategorygroup" value="4" {{ checked('roadcategorygroup','4') }}>
                    <label for="road-category-4">4</label>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="works-location-description">Works location description</label>
                <input class="form-control" id="works-location-description" name="works-location-description" type="text" value="{{ data['works-location-description'] }}">
            </div>

            <fieldset class="inline">
                <div class="form-group">
                    <label class="form-label" for="works-location-1">Works location</label>
                    <div class="multiple-choice">
                        <input id="works-location-1" type="checkbox" name="works-location-group" value="Footway" {{ checked('works-location-group','Footway') }}>
                        <label for="works-location-1">Footway</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-location-2" type="checkbox" name="works-location-group" value="Carriageway" {{ checked('works-location-group','Carriageway') }}>
                        <label for="works-location-2">Carriageway</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-location-3" type="checkbox" name="works-location-group" value="Verge" {{ checked('works-location-group','Verge') }}>
                        <label for="works-location-3">Verge</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-location-4" type="checkbox" name="works-location-group" value="Cycleway" {{ checked('works-location-group','Cycleway') }}>
                        <label for="works-location-4">Cycleway</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="works-location-5" type="checkbox" name="works-location-group" value="Footpath" {{ checked('works-location-group','Footpath') }}>
                        <label for="works-location-5">Footpath</label>
                    </div>
                </div>
            </fieldset>
            <br>
            <p>
                <img src="/public/images/examplemap.png" alt="Map showing work created" height="400" width="600">
            </p>

            <div class="form-group">
                <input type="submit" class="button" value="Save & Continue">
            </div>
        </div>
    </form>
</main>

{% endblock %}