{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">
	   		<span class="heading-secondary">
	   			WRN {{ data['workreferencenumber'] }}
	   		</span>
        Reinstatement
    </h1>

    {% include "../templates/keyinfo.html" %}

    <br/>
    <form action="reinstatement" method="post" >
        <br/>
        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="reinstatement-permanent">Reinstatement status</label>
                <div class="multiple-choice">
                    <input id="reinstatement-permanent" type="radio" name="reinstatement-status-group" value="Permanent" {{ checked('reinstatement-status-group','Permanent') }}>
                    <label for="reinstatement-permanent">Permanent</label>
                </div>
                <div class="multiple-choice">
                    <input id="reinstatement-interim" type="radio" name="reinstatement-status-group" value="Interim" {{ checked('reinstatement-status-group','Interim') }}>
                    <label for="reinstatement-interim">Interim</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="reinstatement-date-day">Reinstatement date</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="reinstatement-date-day">Day</label>
                        <input class="form-control" id="reinstatement-date-day" name="reinstatement-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['reinstatement-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="reinstatement-date-month">Month</label>
                        <input class="form-control" id="reinstatement-date-month" name="reinstatement-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['reinstatement-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="reinstatement-date-year">Year</label>
                        <input class="form-control" id="reinstatement-date-year" name="reinstatement-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['reinstatement-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="reinstatement-permanent">Depth</label>
                <div class="multiple-choice">
                    <input id="depth-standard" type="radio" name="depth-group" value="Standard" {{ checked('depth-group','Standard') }}>
                    <label for="depth-standard">Standard (under 1.5m)</label>
                </div>
                <div class="multiple-choice">
                    <input id="depth-deep" type="radio" name="depth-group" value="Deep" {{ checked('depth-group','Deep') }}>
                    <label for="depth-deep">Deep (over 1.5m)</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="length">Length
                <span class="form-hint">Hint text TBC</span>
            </label>
            <input class="form-control" id="length" name="length" type="text" value="{{ data['length'] }}">
        </div>

        </label>
        <div class="form-group">
            <label class="form-label" for="width">Width
                <span class="form-hint">Hint text TBC</span>
            </label>
            <input class="form-control" id="width" name="width" type="text" value="{{ data['width'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="reinstatement-date-day">Actual location coordinates</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="location-x">X</label>
                        <input class="form-control" id="location-x" name="location-x" type="number" value="{{ data['location-x'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="location-y">Y</label>
                        <input class="form-control" id="location-y" name="location-y" type="number" value="{{ data['location-y'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="works-position-1">Reinstatement location</label>
                <div class="multiple-choice">
                    <input id="works-position-1" type="radio" name="works-position-group" value="Footway" {{ checked('works-position-group','Footway') }}>
                    <label for="works-position-1">Footway</label>
                </div>
                <div class="multiple-choice">
                    <input id="works-position-2" type="radio" name="works-position-group" value="Carriageway" {{ checked('works-position-group','Carriageway') }}>
                    <label for="works-position-2">Carriageway</label>
                </div>
                <div class="multiple-choice">
                    <input id="works-position-3" type="radio" name="works-position-group" value="Verge" {{ checked('works-position-group','Verge') }}>
                    <label for="works-position-3">Verge</label>
                </div>
                <div class="multiple-choice">
                    <input id="works-position-4" type="radio" name="works-position-group" value="Cycleway" {{ checked('works-position-group','Cycleway') }}>
                    <label for="works-position-4">Cycleway</label>
                </div>
                <div class="multiple-choice">
                    <input id="works-position-5" type="radio" name="works-position-group" value="Footpath" {{ checked('works-position-group','Footpath') }}>
                    <label for="works-position-5">Footpath</label>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label class="form-label" for="location-description">Reinstatement location description</label>
            <input class="form-control" id="location-description" name="location-description" type="text" value="{{ data['location-description'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="warranty-end-date-day">Warranty period end date
                <span class="form-hint">Hint text TBC</span>
            </label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="warranty-end-date-day">Day</label>
                        <input class="form-control" id="warranty-end-date-day" name="warranty-end-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['warranty-end-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="warranty-end-date-month">Month</label>
                        <input class="form-control" id="warranty-end-date-month" name="warranty-end-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['warranty-end-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="warranty-end-date-year">Year</label>
                        <input class="form-control" id="warranty-end-date-year" name="warranty-end-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['warranty-end-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <input type="button" id="add-reinstatement" class="button" value="Add">
        </div>

        <div id="reinstatements-table">
            <h3 class="heading-small">Reinstatement sites</h3>
            <table id="reinstatements">
                <thead>
                <th>Status</th>
                <th>Completion date</th>
                <th>Depth</th>
                <th>Length</th>
                <th>Width</th>
                <th>Location coords</th>
                <th>Location</th>
                <th>Location description</th>
                <th>Warranty period end date</th>
                <th></th>
                </thead>
                <tbody>
                {% for reinstatement in data['reinstatements-name'] %}
                <tr id="{{ reinstatement }}">
                    <td><input class="form-control" name="reinstatements-status[]" type="hidden" value="{{ data['reinstatements-status'][loop.index -1 ] }}">{{ data['reinstatements-status'][loop.index -1 ] }}</td>
                    <td><input class="form-control" name="reinstatements-name[]" type="hidden" value="{{ reinstatement }}">{{ reinstatement }}</td>
                    <td><input class="form-control" name="reinstatements-reason[]" type="hidden" value="{{ data['reinstatements-reason'] }}">{{ data['reinstatements-reason'] }}</td>
                    <td><input class="form-control" name="reinstatements-length[]" type="hidden" value="{{ data['reinstatements-length'] }}">{{ data['reinstatements-length'] }}</td>
                    <td><input class="form-control" name="reinstatements-width[]" type="hidden" value="{{ data['reinstatements-width'][loop.index -1 ] }}">{{ data['reinstatements-width'] }}</td>
                    <td><input class="form-control" name="reinstatements-coordinates[]" type="hidden" value="{{ data['reinstatements-coordinates'] }}">{{ data['reinstatements-coordinates'] }}</td>
                    <td><input class="form-control" name="reinstatements-location[]" type="hidden" value="{{ data['reinstatements-location'] }}">{{ data['reinstatements-location'] }}</td>
                    <td><input class="form-control" name="reinstatements-warrantydate[]" type="hidden" value="{{ data['reinstatements-warrantydate'] }}">{{ data['reinstatements-warrantydate'] }}</td>
                    <td><span class="remove-condition"><a href="#" onclick="removeCondition({{ reinstatement }})">Remove</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br/>
        <div class="form-group" data-target="inspection-units">
            <input type="submit" class="button" value="All sites added">
        </div>

        <div class="form-group js-hidden">
        <label class="form-label" for="inspection-units">Actual inspection units</label>
        <input class="form-control" id="inspection-units" name="inspection-units" type="text" value="{{ data['inspection-units'] }}">
        </div>
    </form>
</main>

<script type="text/javascript">

  $(document).ready(function () {

    $("#add-reinstatement").click(function () {
      var reinstatementStatus = $('input[name=reinstatement-status-group]:checked').val();
      var reinstatementDay = $("#reinstatement-date-day").val();
      var reinstatementMonth = $("#reinstatement-date-month").val();
      var reinstatementYear = $("#reinstatement-date-year").val();
      var depth = $('input[name=depth-group]:checked').val();
      var length = $("#length").val();
      var width = $("#width").val();
      var locationX = $("#location-x").val();
      var locationY = $("#location-y").val();
      var location = $('input[name=works-position-group]:checked').val();
      var locationDescription = $("#location-description").val();
      var warrantyDay = $("#warranty-end-date-day").val();
      var warrantyMonth = $("#warranty-end-date-month").val();
      var warrantyYear = $("#warranty-end-date-year").val();

      var conditionVal = $("#location-x").val();

      var reinstatementStatusTD = "<td><input class='form-control' name='reinstatements-status[]' type='hidden' value='" + reinstatementStatus + "'>" + reinstatementStatus + "</td>"
      var reinstatementDateTD = "<td><input class='form-control' name='reinstatements-date[]' type='hidden' value='" + reinstatementDay + "/" + reinstatementMonth  + "/" + reinstatementYear + "'>" + reinstatementDay + "/" + reinstatementMonth  + "/" + reinstatementYear + "</td>"
      var depthTD = "<td><input class='form-control' name='reinstatements-depth[]' type='hidden' value='" + depth + "'>" + depth + "</td>"
      var lengthTD = "<td><input class='form-control' name='reinstatements-length[]' type='hidden' value='" + length + "'>" + length + "</td>"
      var widthTD = "<td><input class='form-control' name='reinstatements-width[]' type='hidden' value='" + width + "'>" + width + "</td>"
      var locationCoordsTD = "<td><input class='form-control' name='reinstatements-coordinates[]' type='hidden' value='" + locationX + "," + locationY + "'>" + locationX + "," + locationY + "</td>"
      var locationOfWorksTD = "<td><input class='form-control' name='reinstatements-location[]' type='hidden' value='" + location + "'>" + location + "</td>"
      var locationDescriptionTD = "<td><input class='form-control' name='reinstatements-description[]' type='hidden' value='" + locationDescription + "'>" + locationDescription + "</td>"
      var warrantyDateTD = "<td><input class='form-control' name='reinstatements-warrantydate[]' type='hidden' value='" + warrantyDay + "/" + warrantyMonth  + "/" + warrantyYear + "'>" + warrantyDay + "/" + warrantyMonth  + "/" + warrantyYear + "</td>"

      var markup = "<tr id='"+ conditionVal + "'>" + reinstatementStatusTD + reinstatementDateTD + depthTD + lengthTD + widthTD + locationCoordsTD + locationOfWorksTD + locationDescriptionTD + warrantyDateTD +"<td><span class=\"remove-reinstatement\"><a href=\"#\" onclick='removeReinstatement(" + conditionVal + ")'>Remove</a></span></td></tr>";
      $("#reinstatements tbody").append(markup);

      $("#condition-reason").val("");
    })
  });

  function removeReinstatement(conditionId) {
    $(conditionId).remove();
  };
</script>


{% endblock %}