{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Create a permit application
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> <a href="promoter-planner/permit-application-screen1.html">Section 1</a>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <strong class="task-completed" id="when-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span><a href="promoter-planner/permit-application-screen2.html">Section 2</a>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <strong class="task-completed" id="who-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span><a href="promoter-planner/permit-application-screen3.html">Section 3</a>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <strong class="task-completed" id="what-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span><a href="promoter-planner/permit-application-screen4.html">Section 4</a>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <strong class="task-completed" id="what-completed">Incomplete</strong>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}
