{% extends "layout.html" %}

{% block page_title %}
Create New Work - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">Check your answers</h1>

    <table>
        <tbody>
            <tr><h2 class="heading-medium">Who</h2></tr>
            <tr>
                <td>Secondary Site Contact Details</td>
                <td>{{ data['secondary-contact'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/work-record-site-contact#secondary-contact">
                        Change <span class="visuallyhidden">secondary contact</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Amendment Initiator</td>
                <td>{{ data['amendment-initiator'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/work-record-site-contact#amendment-initiator">
                        Change <span class="visuallyhidden">amendment initiator</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>

    <div class="form-group">
        <a href="/alpha/v3-0/work-record-collaboration" class="button">Continue</a>
    </div>
</main>

{% endblock %}