{% extends "layout.html" %}

{% block page_title %}
Create New Work - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h2 class="heading-large">Add on site details</h2>

    <form action="work-record-on-site" method="post" >

        <div class="form-group">
            <label class="form-label" for="actual-start-date-day">Actual start date (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="actual-start-date-day">Day</label>
                        <input class="form-control" id="actual-start-date-day" name="start-date-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['start-date-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="actual-start-date-month">Month</label>
                        <input class="form-control" id="actual-start-date-month" name="start-date-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['start-date-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="actual-start-date-year">Year</label>
                        <input class="form-control" id="actual-start-date-year" name="start-date-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['start-date-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="form-label" for="actual-end-date-day">Actual end date (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="actual-end-date-day">Day</label>
                        <input class="form-control" id="actual-end-date-day" name="end-date-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['end-date-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="actual-end-date-month">Month</label>
                        <input class="form-control" id="actual-end-date-month" name="end-date-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['end-date-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="actual-end-date-year">Year</label>
                        <input class="form-control" id="actual-end-date-year" name="end-date-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['end-date-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>


        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="reinstatement-permanent">Reinstatement status (optional)</label>
                <div class="multiple-choice">
                    <input id="reinstatement-permanent" type="radio" name="reinstatement-status-group" value="Yes" {{ checked('reinstatement-status-group','Permanent') }}>
                    <label for="reinstatement-permanent">Permanent</label>
                </div>
                <div class="multiple-choice">
                    <input id="reinstatement-interim" type="radio" name="reinstatement-status-group" value="No" {{ checked('reinstatement-status-group','Interim') }}>
                    <label for="reinstatement-interim">Interim</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="reinstatement-date-day">Reinstatement date (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="reinstatement-date-day">Day</label>
                        <input class="form-control" id="reinstatement-date-day" name="reinstatement-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['reinstatement-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="reinstatement-date-month">Month</label>
                        <input class="form-control" id="reinstatement-date-month" name="reinstatement-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['reinstatement-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="reinstatement-date-year">Year</label>
                        <input class="form-control" id="reinstatement-date-year" name="reinstatement-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['reinstatement-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="form-label" for="location-coordinates">Actual location coordinates (optional)</label>
            <input class="form-control" id="location-coordinates" name="location-coordinates" type="text" value="{{ data['location-coordinates'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="works-position">Actual position of works (optional)</label>
            <input class="form-control" id="works-position" name="works-position" type="text" value="{{ data['works-position'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="actual-depth">Actual depth (optional)</label>
            <input class="form-control" id="actual-depth" name="actual-depth" type="text" value="{{ data['actual-depth'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="actual-length">Actual length (optional)</label>
            <input class="form-control" id="actual-length" name="actual-length" type="text" value="{{ data['actual-length'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="registration">Registration (optional)</label>
            <input class="form-control" id="registration" name="registration" type="text" value="{{ data['registration'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="inspection-units">Actual inspection units (optional)</label>
            <input class="form-control" id="inspection-units" name="inspection-units" type="text" value="{{ data['inspection-units'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="warranty-end-date-day">Warranty period end date (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="warranty-end-date-day">Day</label>
                        <input class="form-control" id="warranty-end-date-day" name="warranty-end-day" type="number" pattern="[0-9]*" min="0" max="31" value="{{ data['warranty-end-day'] }}">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="warranty-end-date-month">Month</label>
                        <input class="form-control" id="warranty-end-date-month" name="warranty-end-month" type="number" pattern="[0-9]*" min="0" max="12" value="{{ data['warranty-end-month'] }}">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="warranty-end-date-year">Year</label>
                        <input class="form-control" id="warranty-end-date-year" name="warranty-end-year" type="number" pattern="[0-9]*" min="0" max="2020" value="{{ data['warranty-end-year'] }}">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    </form>
</main>

{% endblock %}