{% block history %}
<div>
    <div class="heading-medium">History</div>
    <table>
        <thead>
            <th>Date/Time</th>
            <th>Event</th>
            <th>Detail</th>
            <th>User</th>
        </thead>
        <tbody>
            <tr>
                <td>23/03/2018 09:05</td>
                <td>Works Submitted</td>
                <td>Proposed Start: {{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}<br/>
                    Proposed End: {{ data['end-day'] }}/{{ data['end-month'] }}/{{ data['end-year'] }}</td>
                <td>Julie Thomas</td>
            </tr>
            <tr>
                <td>23/03/2018 14:27</td>
                <td>Grant w/ changes</td>
                <td><a href="#">View detail</a></td>
                <td>Sarah Brown</td>
            </tr>
            <tr>
                <td>23/02/2018 16:47</td>
                <td>Accept w/ changes</td>
                <td><a href="#">View detail</a></td>
                <td>Julie Thomas</td>
            </tr>
            <tr>
                <td>30/03/2018 08:26</td>
                <td>Work Start</td>
                <td><a href="#">{{ data['actual-start-date-day'] }}/{{ data['actual-start-date-month'] }}/{{ data['actual-start-date-year'] }}</a></td>
                <td>Neil Osbourne</td>
            </tr>
            <tr>
                <td>31/03/2018 17:15</td>
                <td>Work Stop</td>
                <td><a href="#">{{ data['actualEndDateDay'] }}/{{ data['actualEndDateMonth'] }}/{{ data['actualEndDateYear'] }}</a></td>
                <td>Neil Osbourne</td>
            </tr>
            <tr>
                <td>31/03/2018 17:30</td>
                <td>Reinstatement</td>
                <td><a href="#">{{ data['reinstatement-length'] }} x {{ data['reinstatement-width'] }}</a><br/></td>
                <td>Julie Thomas</td>
            </tr>
            <tr>
                <td>15/05/2018 09:15</td>
                <td>Inspection</td>
                <td><a href="#">Cat B [fail]</a><br/></td>
                <td>John Smith</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}