{% block keyinfo %}
<div>
    <div class="heading-medium">Key information</div>
    <table>
        <tbody>
        <tr>
            <td class="bold-small">Location description</td>
            <td style="text-align: right">{{ data['works-location-description'] }}</td>
        </tr>
        <tr>
            <td class="bold-small">Street name</td>
            <td style="text-align: right">The Vale</td>

        </tr>
        <tr>
            <td class="bold-small">Start date</td>
            {% if data['actual-start-date-day'] !== '' %}
            <td style="text-align: right">{{ data['actual-start-date-day'] }}/{{ data['actual-start-date-month'] }}/{{ data['actual-start-date-year'] }}</td>
            {% elif data['start-date-day'] !== '' %}
            <td style="text-align: right">{{ data['start-date-day'] }}/{{ data['start-date-month'] }}/{{ data['start-date-year'] }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        <tr>
            <td class="bold-small">End date</td>
            {% if data['actualEndDateDay'] !== '' %}
            <td style="text-align: right">{{ data['actualEndDateDay'] }}/{{ data['actualEndDateMonth'] }}/{{ data['actualEndDateYear'] }}</td>
            {% elif data['end-date-day'] !== '' %}
            <td style="text-align: right">{{ data['end-date-day'] }}/{{ data['end-date-month'] }}/{{ data['end-date-year'] }}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% if data['user-type'] == 'PP' %}
            <tr>
                <td class="bold-small">Highway authority</td>
                <td style="text-align: right">{{ data['highwayauthority'] }}</td>
            </tr>
        {% else %}
            <tr>
                <td class="bold-small">Promoter name</td>
                <td style="text-align: right">{{ data['promotername'] }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="bold-small">Work category</td>
            <td style="text-align: right">{{ data['workcategorygroup'] }}</td>

        </tr>
        <tr>
            <td class="bold-small">Traffic management type </td>
            <td style="text-align: right">{{ data['trafficmanagementtypegroup'] }}</td>

        </tr>

        <tr>
            <td class="bold-small">Current status </td>
            <td style="text-align: right"><strong class="task-completed" id="assessment-completed">{{data['status'] or 'Planned works'}}</strong></td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}