{% block search %}
<div class="grid-row">
    <div class="column-two-thirds">
        <div style="padding-top: 20px">
            <form method="POST" action="search.html">
                <input autocomplete="off" placeholder="Search" style="width: 70%;" class="form-control search-field" id="wrn_search" name="wrn_search" type="text">
                <button id="wrn_search_submit" type="submit" class="button search-button"></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}