{% extends "layout.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <div>
      <!-- the rest of this label is hidden, only used for screenreaders -->
      <span class="visuallyhidden"> to the previous page</span>
      <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
      <span style="float:right; margin-right:10px;">ha@sm.com</span>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

        <h1 class="heading-large">
            {% if data['workreferencenumber'] %}
                <span class="heading-secondary">
                    WRN {{ data['workreferencenumber'] }}
                </span>
            {% endif %}
            Permit application
        </h1>

      {% include "../templates/keyinfo.html" %}

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> <a href="permit-application-screen1.html">Plan & create</a>
          </h2>
            <li class="task-list-item">
              {% if data['Screen1Complete'] %}
                <strong class="task-completed" id="plan-completed">Complete</strong>
              {% else %}
                <strong class="task-completed" id="plan-incompleted">Incomplete</strong>
              {% endif %}
            </li>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span><a href="permit-application-screen2.html">Location & contact</a>
          </h2>
            <li class="task-list-item">
              {% if data['Screen2Complete'] %}
              <strong class="task-completed" id="location-completed">Complete</strong>
              {% else %}
              <strong class="task-completed" id="location-incompleted">Incomplete</strong>
              {% endif %}
        </li>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span><a href="permit-application-screen3.html">Conditions</a>
          </h2>
            <li class="task-list-item">
              {% if data['Screen3Complete'] %}
              <strong class="task-completed" id="conditions-completed">Complete</strong>
              {% else %}
              <strong class="task-completed" id="conditions-incompleted">Incomplete</strong>
              {% endif %}
        </li>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span><a href="permit-application-screen4.html">Collaboration</a>
          </h2>
            <li class="task-list-item">
              {% if data['Screen4Complete'] %}
              <strong class="task-completed" id="collaboration-completed">Complete</strong>
              {% else %}
              <strong class="task-completed" id="collaboration-incompleted">Incomplete</strong>
              {% endif %}
        </li>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span><a href="assessment-decision.html">Assess</a>
          </h2>
            <li class="task-list-item">
              {% if data['Screen5Complete'] %}
              <strong class="task-completed" id="assessment-completed">Complete</strong>
              {% else %}
              <strong class="task-completed" id="assessment-incompleted">Incomplete</strong>
              {% endif %}
            </li>
        </li>
        <br/>
        {% if data['Screen5Complete'] %}
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">6. </span><a href="../promoter-planner/permit-application-on-site.html">On site</a>
          </h2>
        <li class="task-list-item">
          {% if data['Screen6Complete'] %}
          <strong class="task-completed" id="onsite-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="onsite-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        <br/>
        {% endif %}

        {% if data['ReinstatementRequired'] %}
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">7. </span><a href="../promoter-planner/reinstatement.html">Reinstatement</a>
          </h2>
        <li class="task-list-item">
          {% if data['Screen7Complete'] %}
          <strong class="task-completed" id="reinstatement-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="reinstatement-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        <br/>
        {% endif %}

        {% if data['Screen7Complete'] %}
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">8. </span><a href="add-inspection.html">Inspections</a>
          </h2>
        <li class="task-list-item">
        {% if data['Screen8Complete'] %}
          <strong class="task-completed" id="inspections-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="inspections-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        {% endif %}
      </ol>
    </div>
  </div>

  <div>
    <p>
      <a href="..\view-history.html">View History</a>
    </p>
  </div>
</main>

{% endblock %}
