{% extends "layout.html" %}

{% block page_title %}
Edit Work - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h2 class="heading-large">Edit Work Record</h2>

    <form action="edit-work-record.html" method="post" >

        <div class="form-group">
            <label class="form-label" for="work-reference-number">Work Reference Number</label>
            <input class="form-control" id="work-reference-number" type="text" name="work-reference-number" value="{{ data['work-reference-number'] }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="promoter-name">Promoter Name</label>
            <input class="form-control" id="promoter-name" name="promoter-name" type="text" value="{{ data['promoter-name'] }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="promoter-agent">Promoter Agent</label>
            <input class="form-control" id="promoter-agent" name="promoter-agent" type="text" value="{{ data['promoter-agent'] }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="highway-authority">Highway Authority (optional)</label>
            <input class="form-control" id="highway-authority" type="text" name="highway-authority" value="{{ data['highway-authority'] }}">
        </div>
        <div class="form-group">
            <label class="form-label" for="usrn">USRN (optional)</label>
            <input class="form-control" id="usrn" name="usrn" type="text" value="{{ data['usrn'] }}">
        </div>

        <div class="form-group">
            <label class="form-label" for="start-date-day">Proposed Start (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="start-date-day">Day</label>
                        <input class="form-control" id="start-date-day" name="start-day" type="number" pattern="[0-9]*" min="0" max="31" value="28">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="start-date-month">Month</label>
                        <input class="form-control" id="start-date-month" name="start-month" type="number" pattern="[0-9]*" min="0" max="12" value="03">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="start-date-year">Year</label>
                        <input class="form-control" id="start-date-year" name="start-year" type="number" pattern="[0-9]*" min="0" max="2020" value="2017">
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="form-group">
            <label class="form-label" for="end-date-day">Proposed End (optional)</label>
            <fieldset>
                <div class="form-date">
                    <div class="form-group form-group-day">
                        <label class="form-label" for="end-date-day">Day</label>
                        <input class="form-control" id="end-date-day" name="end-day" type="number" pattern="[0-9]*" min="0" max="31" value="30">
                    </div>
                    <div class="form-group form-group-month">
                        <label class="form-label" for="end-date-month">Month</label>
                        <input class="form-control" id="end-date-month" name="end-month" type="number" pattern="[0-9]*" min="0" max="12" value="03">
                    </div>
                    <div class="form-group form-group-year">
                        <label class="form-label" for="end-date-year">Year</label>
                        <input class="form-control" id="end-date-year" name="end-year" type="number" pattern="[0-9]*" min="0" max="2020" value="2017">
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="date-flexible-yes">Date Flexible (optional)</label>
                <div class="multiple-choice">
                    <input id="date-flexible-yes" type="radio" name="date-flexible-group" value="Yes" checked="true">
                    <label for="date-flexible-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="date-flexible-no" type="radio" name="date-flexible-group" value="No">
                    <label for="date-flexible-no">No</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="description-of-work">Description of Work #1 (optional)</label>
            <textarea class="form-control form-control-3-4" name="description-of-work" id="description-of-work" rows="5" value="{{ data['description-of-work'] }}"></textarea>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="description-of-work-1">Description of Work #2 (optional)</label>
                <div class="multiple-choice">
                    <input id="description-of-work-1" type="radio" name="description-of-work-group" value="Yes" checked="true">
                    <label for="description-of-work-1">Carriageway resurfacing</label>
                </div>
                <div class="multiple-choice">
                    <input id="description-of-work-2" type="radio" name="description-of-work-group" value="No">
                    <label for="description-of-work-2">Footway resurfacing</label>
                </div>
                <div class="multiple-choice">
                    <input id="description-of-work-3" type="radio" name="description-of-work-group" value="No">
                    <label for="description-of-work-3">Reinstatement</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="contact-details">Contact Details (optional)</label>
            <input class="form-control" id="contact-details" name="contact-details" type="text" value="{{ data['contact-details'] }}">
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="commercially-sensitive-yes">Commercially Sensitive (optional)</label>
                <div class="multiple-choice">
                    <input id="commercially-sensitive-yes" type="radio" name="radio-inline-group" value="Yes">
                    <label for="commercially-sensitive-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="commercially-sensitive-no" type="radio" name="radio-inline-group" value="No" checked="true">
                    <label for="commercially-sensitive-no">No</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label class="form-label" for="reinstatement-category">Reinstatement Category (optional)</label>
            <input class="form-control" id="reinstatement-category" name="reinstatement-category" type="text" value="{{ data['reinstatement-category'] }}">
        </div>

        <p>
            <input class="button" type="submit" value="Submit" role="button">
        </p>
    </form>
</main>

{% endblock %}