{% extends "alpha/v2-0/map-layout.html" %}

{% block page_title %}
Forward Planning - Street Manager
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.6.4/build/ol.js" type="text/javascript"></script>
<script src="/public/javascripts/map_styles.js"></script>
<script src="/public/javascripts/map_controls.js"></script>

<main id="content" role="main" style="padding:0px">
    <!-- alpha banner -->
    {% include "includes/phase_banner_alpha.html" %}
</main>

<div id="map" class="map" style="width: 100%"></div>

<div class="arrow_box" id="popup-container"></div>

<div id="search-panel" class="charge-list">

    <h1 class="heading-small">Search results for <span id="titleText"></span></h1>
    <!-- <input class="form-control search-field maintain-searched" id="maintain-map-search" name="maintain-map-search" type="text"> -->
    <input class="form-control" id="searched_term" type="text" value="{{searchDetails}}" name="searched_term">
    <input class="button" type="submit" value="Search">

    <div id="results" class="results-block">
        <ol class="results-list">

            <li class="individualResults">
                <div class="search-result-header">
                    <h2 class="heading-small"><a id="result" href="#"></a>CB1 1NL</h2>
                </div>
                <p>Hobson Street<br>Cambridge<br></p>
            </li>
        </ol>
    </div>
</div>

<style>

    #legend {
        background-color: white;
        width: 240px;
        padding: 10px;
        top: 80px;
        right: 50px;
    }
    #slider {
        border-radius: 4px;
        background: #fff;
        padding: 2px;
        position: absolute;
        width:600px;
        bottom: 20px;
        right: 20%;
    }

    .arrow_box {
        position: relative;
        background: #fff;
        border: 1px solid #003c88;
        border-radius: 5px;
        padding: 10px;
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .arrow_box:before {
        border-color: rgba(153, 153, 153, 0);
        border-top-color: #003c88;
        border-width: 11px;
        margin-left: -11px;
    }
</style>

<div id="legend">
    <form>
        <fieldset>
            <legend>
                <span class="body-text">Select all that apply</span>
            </legend>

            <div class="multiple-choice">
                <input id="layer-type-1" name="layer-types" type="checkbox" value="layer-assets">
                <label for="layer-type-1">Assets</label>
            </div>
            <div class="multiple-choice">
                <input id="layer-type-2" name="layer-types" type="checkbox" value="layer-planned-works">
                <label for="layer-type-2">My Planned Works</label>
            </div>
            <div class="multiple-choice">
                <input id="layer-type-3" name="layer-types" type="checkbox" value="layer-third-party-planned-works">
                <label for="layer-type-3">Third Party Planned Works</label>
            </div>
            <div class="multiple-choice">
                <input id="layer-type-4" name="layer-types" type="checkbox" value="layer-current-works">
                <label for="layer-type-4">Current Works</label>
            </div>
            <div class="multiple-choice">
                <input id="layer-type-5" name="layer-types" type="checkbox" value="layer-restrictions">
                <label for="layer-type-5">Restrictions</label>
            </div>

        </fieldset>
    </form>
</div>

<div id="slider">
    <input disabled type="text" id="amount" style="border: 0; background-color: #0c60a3; color: white; font-weight: bold; width: inherit;" />
    <div id="slider-id">
        <div class="ui-slider-handle"></div>
    </div>
</div>


<script type="text/javascript">
  var MAP_CONFIG = {};

  (function (MAP_CONFIG) {

    MAP_CONFIG.draw_layer_zindex = 2;
    // Draw Source
    MAP_CONFIG.draw_features = new ol.Collection();
    MAP_CONFIG.draw_source = new ol.source.Vector({ features: MAP_CONFIG.draw_features });
    MAP_CONFIG.draw_layer = new ol.layer.Vector({
      source: MAP_CONFIG.draw_source,
      style: draw_layer_styles.style[draw_layer_styles.NONE],
      zIndex: MAP_CONFIG.draw_layer_zindex
    })
    MAP_CONFIG.base_layer = new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  })(MAP_CONFIG);

  var slider = new ol.control.Control({element: document.getElementById('slider')});

  var legend = new ol.control.Control({element: document.getElementById('legend')});
  var scaleLine = new ol.control.ScaleLine()

  var map = new ol.Map({
    target: 'map',
    layers: [MAP_CONFIG.base_layer, MAP_CONFIG.draw_layer],
    controls: ol.control.defaults({attribution: false}).extend([
      legend, scaleLine, slider
    ]),
    view: new ol.View({
      center: ol.proj.fromLonLat([0.1218, 52.2053]),
      zoom: 17
    })
  });

  var asset1 = new ol.Feature (
    {
      geometry: new ol.geom.Point([13639.829398919617, 6837289.194287598]),
      text: 'Type: Critical mains'
    })
  asset1.setId(1);

  var asset2 = new ol.Feature (
    {
      geometry: new ol.geom.Point([14154.5850112776, 6837452.817301271]),
      text: 'Type: Critical mains'
    })
  asset2.setId(2);

  var asset3 = new ol.Feature (
    {
      geometry: new ol.geom.Point([14116.36649713501, 6837160.206802366]),
      text: 'Type: Critical mains'
    })
  asset3.setId(3);

  var asset4 = new ol.Feature (
    {
      geometry: new ol.geom.Point([13432.016228269293, 6837043.1626028055]),
      text: 'Type: Critical mains'
    })
  asset4.setId(4);

  var assets = [asset1, asset2, asset3, asset4]


  var assetsSource = new ol.source.Vector({
    features: assets
  });
  const AssetLayer = new ol.layer.Vector({
    source: assetsSource,
    visible: false
  });
  map.addLayer(AssetLayer);

  AssetLayer.setStyle(new ol.style.Style({
    image: new ol.style.Icon({
      src: '/public/images/map-marker-red.png',
      anchor: [0.5, 25],
      anchorXUnits: 'fraction',
      anchorYUnits: 'pixels',
    })
  }));

  var plannedWork1 = new ol.Feature({
    geometry: new ol.geom.Point([13576.529984870955, 6837049.134245641]),
    text: 'Work Type: Footway resurfacing <br/>' +
      'Road Owner: Cambridgeshire County Council <br/>' +
      'Start date: 09/06/2018 <br/>' +
      'End date: 19/07/2018 <br/>' +
      'Promoter Name: Michael Harris <br/>' +
      'Promoter Agent: Cadent <br/>' +
      'Contact: 0345 045 5212 <br/>' +
      '<a href="#">View Work Record</a>',
    dateOfWorks: new Date('2018/02/23').getTime() / 1000
  })
  plannedWork1.setId(1);

  var plannedWork2 = new ol.Feature({
    geometry: new ol.geom.Point([13501.287285152734, 6837672.573757592]),
    text: 'Work Ref: YG425377097 <br/>' +
      'Description: Nrw cat1 ponding lane 1 closed for access work hours 0000 - 24hr <br/>' +
      'Road Owner: Cambridgeshire County Council <br/>' +
      'Start date: 09/06/2018 <br/>' +
      'End date: 19/07/2018 <br/>' +
      'Promoter Name: Michael Harris <br/>' +
      'Promoter Agent: Cadent <br/>' +
      'Contact: 0345 045 5212 <br/>' +
      '<a href="#">View Work Record</a>',
    dateOfWorks: new Date('2018/05/01').getTime() / 1000
  })
  plannedWork2.setId(2);

  var plannedWork3 = new ol.Feature({
    geometry: new ol.geom.Point([13718.655084338705, 6837371.602958717]),
    text: 'Work Ref: CT0224443466 <br/>' +
      'Description: Disconnect 1 X 32MM PE Service from main in carridgeway <br/>' +
      'Road Owner: Cambridgeshire County Council <br/>' +
      'Start date: 09/06/2018 <br/>' +
      'End date: 19/07/2018 <br/>' +
      'Promoter Name: John Carrington <br/>' +
      'Promoter Agent: FM Conway LTD <br/>' +
      'Contact: 0345 045 5212 <br/>' +
      '<a href="/alpha/v2-0/work-record">View Work Record</a>',
    dateOfWorks: new Date('2018/08/23').getTime() / 1000
  })
  plannedWork3.setId(3);

  var plannedWorks = [plannedWork1, plannedWork2, plannedWork3]

  const plannedWorksSource = new ol.source.Vector({
    features: plannedWorks
  });
  const plannedWorksLayer = new ol.layer.Vector({
    source: plannedWorksSource,
    visible: false
  });

  plannedWorksLayer.setStyle(new ol.style.Style({
    image: new ol.style.Icon({
      src: '/public/images/map-marker-blue.png',
      anchor: [0.5, 25],
      anchorXUnits: 'fraction',
      anchorYUnits: 'pixels',
    })
  }));

  map.addLayer(plannedWorksLayer);

  var overlay = new ol.Overlay({
    element: document.getElementById('popup-container'),
    positioning: 'bottom-center',
    offset: [0, -10]
  });
  map.addOverlay(overlay);

  map.on('click', function(e) {
    overlay.setPosition();
    var features = map.getFeaturesAtPixel(e.pixel);
    if (features && features[0].get('text')) {
      var coords = features[0].getGeometry().getCoordinates();
      var string = features[0].get('text');
      overlay.getElement().innerHTML = string;
      overlay.setPosition(coords);
    }
  });

  $('#slider-id').slider({
    range: true,
    values: [ new Date().getTime() / 1000, new Date('2019.01.01').getTime() / 1000 ],
    min: new Date().getTime() / 1000,
    max: new Date('2019.01.01').getTime() / 1000,
    step: 86400,
    change: function (event, ui) {
      plannedWorksSource.addFeatures(plannedWorks);

      plannedWorksSource.forEachFeature(function (feature) {
        if(feature.get('dateOfWorks') <= ui.values[0] || feature.get('dateOfWorks') >= ui.values[1])
        {
          plannedWorksSource.removeFeature(feature);
        }
      });
    },
    slide: function( event, ui ) {
      $( "#amount" ).val('START: ' + (new Date(ui.values[ 0 ] *1000).toDateString() ) + "     END: " + (new Date(ui.values[ 1 ] *1000)).toDateString() );
    }
  });
  $( "#amount" ).val('START: ' + (new Date($( "#slider-id" ).slider( "values", 0 )*1000).toDateString()) +
    "     END: " + (new Date($( "#slider-id" ).slider( "values", 1 )*1000)).toDateString());

  $('#layer-type-1').change(function (event) {
    var checkbox = event.target;
    if (checkbox.checked) {
      AssetLayer.setVisible(true);
    } else {
      AssetLayer.setVisible(false);
    }
  });

  $("#layer-type-3").change(function(event) {
    var checkbox = event.target;
    if (checkbox.checked) {
      plannedWorksLayer.setVisible(true)
    } else {
      plannedWorksLayer.setVisible(false)
    }
  });

</script>

{% endblock %}