{% extends "layout.html" %}

{% block page_title %}
Work Record
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

        <!-- main content starts -->
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Work Record</h1>
        </div>
    </div>

    <table>
        <tr>
            <td>Work Reference Number</td>
            <td>CT0224443466</td>
        </tr>
        <tr>
            <td>Promoter Name</td>
            <td>JOHN CARRINGTON</td>
        </tr>
            <td>Promoter Agent</td>
            <td>FM CONWAY LTD</td>
        </tr>
        <tr>
            <td>Highway Authority</td>
            <td>Highway Authority</td>
        </tr>
        <tr>
            <td>USRN</td>
            <td>08400189</td>
        </tr>
        <tr>
            <td>Proposed Start</td>
            <td>28/03/2017</td>
        </tr>
        <tr>
            <td>Proposed End</td>
            <td>30/03/2017</td>
        </tr>
        <tr>
            <td>Date Flexible</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Description of Work #1</td>
            <td>Digging up the road</td>
        </tr>
        <tr>
            <td>Description of Work #2</td>
            <td>Carriageway resurfacing</td>
        </tr>
        <tr>
            <td>Contact Details</td>
            <td>004455500000</td>
        </tr>
        <tr>
            <td>Commercially Sensitive</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Reinstatement Category</td>
            <td></td>
        </tr>
    </table>

    <p>
        <a class="button" href="#" role="button">Edit</a>
    </p>
</main>

{% endblock %}


