{% extends "layout.html" %}

{% block page_title %}
  Reporting slides
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-xlarge">
          Reporting slides
        </h1>
      </div>
    </div>

    <ul class="list list-bullet">
        <li><a href="/public/images/reporting/reporting1.png">1</a></li>
        <li><a href="/public/images/reporting/reporting2.png">2</a></li>
        <li><a href="/public/images/reporting/reporting3.png">3</a></li>
        <li><a href="/public/images/reporting/reporting4.png">4</a></li>
        <li><a href="/public/images/reporting/reporting5.png">5</a></li>
    </ul>

    <div class="grid-row">
      <div class="column-full">
        <p>
          <img style="height:100%;width:100%;" src="/public/images/reporting/reporting1.png">
        </p>
      </div>
      <br>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <p>
          <img style="height:100%;width:100%;" src="/public/images/reporting/reporting2.png">
        </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <p>
          <img style="height:100%;width:100%;" src="/public/images/reporting/reporting3.png">
        </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <p>
          <img style="height:100%;width:100%;" src="/public/images/reporting/reporting4.png">
        </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <p>
        <img style="height:100%;width:100%;" src="/public/images/reporting/reporting5.png">
        </p>
      </div>
    </div>

  <div class="grid-row">
    <div class="column-full">
      <a href="https://docs.google.com/presentation/d/1evgEafi8L3pSLDkpZs2bPUDQgJWRaix1QfI_J8kk8O4/edit?usp=sharing">Presentation (Google Drive)</a>
    </div>
  </div>
</main>
{% endblock %}
