<div class="admin">
    {% extends "layout.html" %}

    {% block page_title %}
    My dashboard - Street Manager
    {% endblock %}

    {% block content %}

    <main id="content" role="main">

        {% include "includes/phase_banner_alpha.html" %}

        <div class="breadcrumbs">
            <div>
                <!-- the rest of this label is hidden, only used for screenreaders -->
                <span class="visuallyhidden"> to the previous page</span>
                <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
                <span style="float:right; margin-right:10px;">ha@sm.com</span>
            </div>
        </div>

        <h2 class="heading-large">My dashboard</h2>

        <p>Last refreshed: <em>12:36 today</em></p>

        <div id="dashboard">
            <div id="works" class="container-metrics grid-row">

                <div class="column-one-third">
                    <h2 class="heading-large">Works</h2>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Scheduled</h2>
                        <span class="number">248</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Completed</h2>
                        <span class="number">157m</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>
            </div>

            <div id="permits" class="container-metrics grid-row">

                <div class="column-one-third">
                    <h2 class="heading-large">Permits</h2>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Needs action</h2>
                        <span class="number">4</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Due</h2>
                        <span class="number">31</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

                <div class="column-one-third">
                    <!-- Spacing -->
                    <span class="number">&nbsp;</span>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Refused</h2>
                        <span class="number">7</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Granted</h2>
                        <span class="number">42</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

                <div class="column-one-third">
                    <!-- Spacing -->
                    <span class="number">&nbsp;</span>
                </div>

                <div class="column-one-third">
                    <div class="box-metrics">
                        <h3 class="heading-medium">Success rate</h2>
                        <span class="number">40%</span>
                        <p><a href="#">View</a></p>
                    </div>
                </div>

            </div>
        </div>

    </main>

    {% endblock %}

</div>
