{% extends "layout.html" %}

{% block page_title %}
Sign in
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <h2 class="heading-large">HA Officer - Home</h2>
    <table class="table">
        <tbody>
        <thead>
        <tr>
            <th>Works Reference</th>
            <th>Proposed Start Date</th>
            <th>Estimated End Date</th>
            <th>Works Category</th>
            <th>Location Description</th>
            <th></th>
        </tr>
        </thead>

        <tr>
            <td>EC40010725431</td>
            <td>03/04/2017</td>
            <td>14/04/2017</td>
            <td>Emergency</td>
            <td>o/s Prada shop. f\w.</td>
            <td><a href="/alpha/v1-0/new-activity">View</a></td>
        </tr>
        <tr>
            <td>YG4253530630</td>
            <td>29/03/2017</td>
            <td>30/03/2017</td>
            <td>Standard</td>
            <td>NB 10M PAST NORTHUMBERLAND AVE</td>
            <td><a href="#">View</a></td>
        </tr>

        <tr>
            <td>CT0223222490</td>
            <td>23/03/2017</td>
            <td>27/03/2017</td>
            <td>Minor</td>
            <td>O/S Whiteleys j/w Redan Place on xing</td>
            <td><a href="#">View</a></td>
        </tr>

        <tr>
            <td>MU3010000306</td>
            <td>28/03/2017</td>
            <td>30/03/2017</td>
            <td>Urgent</td>
            <td>CARRIAGEWAY OUTSIDE OF NO 28 DEVONSHIRE MEWS WEST</td>
            <td><a href="#">View</a></td>
        </tr>

        </tbody>
    </table>
    <a style="float:right; margin-top: 20px" href="">Next ></a>
</main>

{% endblock %}