<EToNrequest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" SchemaVersion="6.0" xmlns="http://www.wrcplc.co.uk/Schemas/ETON">
    <NewActivity>
        <NotificationType>0210</NotificationType>
        <NotificationSequenceNumber>1</NotificationSequenceNumber>
        <VersionCreatedDatim>2017-03-23T11:38:20</VersionCreatedDatim>
        <NotificationRestricted>0</NotificationRestricted>
        <Sender>
            <OrganisationID>5990</OrganisationID>
            <DistrictID>022</DistrictID>
        </Sender>
        <PrimaryRecipient>
            <OrganisationID>5990</OrganisationID>
            <DistrictID>999</DistrictID>
        </PrimaryRecipient>
        <CopyRecipient>
            <OrganisationID>0020</OrganisationID>
            <DistrictID>103</DistrictID>
        </CopyRecipient>
        <CopyRecipient>
            <OrganisationID>0020</OrganisationID>
            <DistrictID>108</DistrictID>
        </CopyRecipient>
        <CopyRecipient>
            <OrganisationID>7093</OrganisationID>
            <DistrictID>201</DistrictID>
        </CopyRecipient>
        <WorksReference>CT022-222369-1</WorksReference>
        <WorksCategory>4</WorksCategory>
        <NumberOfPhases>1</NumberOfPhases>
        <ExcavationType>18</ExcavationType>
        <CollaborationType>1</CollaborationType>
        <StreetCategory>1</StreetCategory>
        <WorksDescription>R/L bricks 0.20 x 0.10 , repoint kerbs 1.60 x 0.10 20mm (H-FW Rocking Pav.,Gen,20-29 )</WorksDescription>
        <PhaseType>1</PhaseType>
        <USRN>08400189</USRN>
        <SpatialLocation>
            <LocationFeatureType>1</LocationFeatureType>
            <Coordinates>
                <Easting>525750.42</Easting>
                <Northing>181451.75</Northing>
            </Coordinates>
        </SpatialLocation>
        <LocationDescription>J/W Celbridges Mews</LocationDescription>
        <ActualStartDate>2017-03-23</ActualStartDate>
        <StartTime>10:30:10</StartTime>
        <EstimatedEndDate>2017-03-27</EstimatedEndDate>
        <WorkingHours>0</WorkingHours>
        <CarriagewayRestrictionType>1</CarriagewayRestrictionType>
        <FootwayClosure>0</FootwayClosure>
        <ParkingSuspensions>0</ParkingSuspensions>
        <ConditionType>5</ConditionType>
        <ConditionType>6</ConditionType>
        <ConditionText>NCT05a Works restricted to the footway
            NCT06a Minimum 1.2m available for peds at all times</ConditionText>
        <EstimatedInspectionUnits>1</EstimatedInspectionUnits>
        <PromoterContacts>
            <ContactName>JOHN CARRINGTON</ContactName>
            <ContactAddress>
                <AddressLine>FM CONWAY LTD</AddressLine>
                <AddressLine>CONWAY HOUSE</AddressLine>
                <AddressLine>VESTRY ROAD</AddressLine>
                <AddressLine>SEVENOAKS</AddressLine>
                <AddressLine>KENT</AddressLine>
            </ContactAddress>
            <ContactPostCode>TN14 5EL</ContactPostCode>
            <ContactTelephoneNumber>01732 600771</ContactTelephoneNumber>
        </PromoterContacts>
        <ContractorContacts>
            <ContactName>JOHN CARRINGTON</ContactName>
            <ContactAddress>
                <AddressLine>FM CONWAY LTD</AddressLine>
                <AddressLine>CONWAY HOUSE</AddressLine>
                <AddressLine>VESTRY ROAD</AddressLine>
                <AddressLine>SEVENOAKS</AddressLine>
                <AddressLine>KENT</AddressLine>
            </ContactAddress>
            <ContactPostCode>TN14 5EL</ContactPostCode>
            <ContactTelephoneNumber>01732 600771</ContactTelephoneNumber>
        </ContractorContacts>
    </NewActivity>
</EToNrequest>

