{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <div class="heading-large">WRN CT12345</div>
    <!--<h1 class="heading-large">WR #</h1>-->

    <h2 class="heading-medium">Plan & Create</h2>
    <table>
        <tbody>
            <tr>
                <td>Promoter name</td>
                <td align="right">{{ data['promotername'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#promotername">
                        Change <span class="visuallyhidden">promoter name</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>USRN</td>
                <td align="right">{{ data['usrn'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#usrn">
                        Change <span class="visuallyhidden">usrn</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Road category</td>
                <td align="right">{{ data['roadcategorygroup'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#road-category-1">
                        Change <span class="visuallyhidden">road category</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Highway authority</td>
                <td align="right">{{ data['highwayauthority'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#highwayauthority">
                        Change <span class="visuallyhidden">highway authority</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Work reference number</td>
                <td align="right">{{ data['workreferencenumber'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#workreferencenumber">
                        Change <span class="visuallyhidden">work reference number</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Proposed start date</td>
                {% if data['start-day'] != '' %}
                <td align="right">{{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#start-date-day">
                        Change <span class="visuallyhidden">start date</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Proposed end date</td>
                {% if data['end-day'] != '' %}
                <td align="right">{{ data['end-day'] }}/{{ data['end-month'] }}/{{ data['end-year'] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#end-date-day">
                        Change <span class="visuallyhidden">end date</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td align="right">{{ data['duration'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#duration">
                        Change <span class="visuallyhidden">duration</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Traffic management type</td>
                <td align="right">{{ data['trafficmanagementtypegroup'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#road-closure">
                        Change <span class="visuallyhidden">traffic management type</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Work category</td>
                <td align="right">{{ data['workcategorygroup'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#work-category-1">
                        Change <span class="visuallyhidden">work category</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">Location & Contact</h2>
    <table>
        <tbody>
            <tr>
                <td>Works location description</td>
                <td align="right">{{ data['works-location-description'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#works-location-description">
                        Change <span class="visuallyhidden">works location description</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Works location</td>
                <td align="right">{{ data['works-location-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#works-location-1">
                        Change <span class="visuallyhidden">works location</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description of work #1</td>
                <td align="right">{{ data['description-of-work-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#description-of-work-1">
                        Change <span class="visuallyhidden">description of work 1</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description of work #2</td>
                <td align="right">{{ data['description-of-work-2'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#description-of-work-2">
                        Change <span class="visuallyhidden">description of work 2</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Excavation</td>
                <td align="right">{{ data['excavation-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#excavation-yes">
                        Change <span class="visuallyhidden">excavation</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Contact details</td>
                <td align="right">{{ data['contact-details'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#contact-details">
                        Change <span class="visuallyhidden">contact details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Promoter agent</td>
                <td align="right">{{ data['promoter-agent'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#promoter-agent">
                        Change <span class="visuallyhidden">promoter agent</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Secondary site contact details</td>
                <td align="right">{{ data['secondary-contact'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#secondary-contact">
                        Change <span class="visuallyhidden">secondary site contact details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Commercially sensitive</td>
                <td align="right">{{ data['commercially-sensitive-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#commercially-sensitive-yes">
                        Change <span class="visuallyhidden">commercially sensitive</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Lane rental applicable</td>
                <td align="right">{{ data['lane-rental-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#lane-rental-yes">
                        Change <span class="visuallyhidden">lane rental applicable</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="heading-medium">Collaboration</h2>
    <table>
        <tbody>
            <tr>
                <td>Is TM Required</td>
                <td align="right">{{ data['tm-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#tm-yes">
                        Change <span class="visuallyhidden">TM required</span>
                    </a>
                </td>
            </tr>
            {% for fileName in data['file-attached-detail'] %}
            <tr>
                <td>Traffic Management Plan</td>
                <td align="right">{{ fileName }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#traffic-management-plan">
                        Change <span class="visuallyhidden">traffic management plan</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Collaborative Working</td>
                <td align="right">{{ data['collaboration-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#collaboration-yes">
                        Change <span class="visuallyhidden">collaborative working</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Collaboration Type</td>
                <td align="right">{{ data['collaboration-type-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#collaboration-type-1">
                        Change <span class="visuallyhidden">collaboration type</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Collaboration Details</td>
                <td align="right">{{ data['collaboration-details'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#collaboration-details">
                        Change <span class="visuallyhidden">collaboration details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Environmental Health Notifiable</td>
                <td align="right">{{ data['environmental-health-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#environmental-health-yes">
                        Change <span class="visuallyhidden">environmental health notifiable</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Project Reference Number</td>
                <td align="right">{{ data['project-reference'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen4#project-reference">
                        Change <span class="visuallyhidden">project reference number</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
    <h2 class="heading-medium">Conditions</h2>
    </p>

    <table>
        <thead>
        <th>Permit condition</th>
        <th>Permit reason</th>
        <th></th>
        </thead>
        <tbody>
        {% for condition in data['conditions-name'] %}
        <tr>
            <td>{{ condition }}</td>
            <td>{{ data['conditions-reason'][loop.index -1 ] }}</td>
            <td class="change-answer">
                <a href="/alpha/v3-0/promoter-planner/permit-application-screen3">
                    Change <span class="visuallyhidden">{{ condition }}</span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="heading-medium">All sections are now complete, you are ready to submit your application</h2>

    <p class="text">
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
    </p>

    <div class="form-group">
        <a href="/alpha/v3-0/promoter-planner/confirm-permit-application.html" class="button">Submit your permit application</a>
    </div>
</main>

{% endblock %}