{% extends "layout.html" %}

{% block page_title %}
Permit Application Confirmation - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <a href="../task-list-page.html" class="link-back" title="Back to task list">Back</a>

    <form action="permit-application-assessment" method="post" >
        <div id="dashboard" class="container-metrics grid-row">
            <p class="font-medium">
                Work reference number: <strong class="bold">CT12345678</strong> [Status]
            </p>
            <div class="column-two-thirds">
                <div class="container-metrics">
                    <p>
                        Street name: Church Street <br/>
                        USRN: 06600000 <br/>
                        Start date: 04/04/2018 <br/>
                        End date: 14/04/2018<br/>
                        HA: Chelmsford <br/>
                        Work Category: Standard <br/>
                        TM Type: Stop/Go
                    </p>
                </div>
            </div>
        </div>

        <p class="font-medium">Assessment Decision</p>
        <p>Changes requested by HA: Chelmsford</p>

        <ul class="list list-bullet">
            <li>TM type change from Stop/Go to Temporary Traffic Signals
                <fieldset class="inline">
                    <div class="form-group">
                        <br/>
                        <label class="form-label" for="accept-change1-yes">Accept</label>
                        <div class="multiple-choice">
                            <input id="accept-change1-yes" type="radio" name="change-1-group" value="Yes" {{ checked('change-1-group','Yes') }}>
                            <label for="accept-change1-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="accept-change1-no" type="radio" name="change-1-group" value="No" {{ checked('change-1-group','No') }}>
                            <label for="accept-change1-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </li>
            <li> <strong>New Condition</strong> NCT06a - Remove spoil by end of next working day
                <fieldset class="inline">
                    <div class="form-group">
                        <br/>
                        <label class="form-label" for="accept-change2-yes">Accept</label>
                        <div class="multiple-choice">
                            <input id="accept-change2-yes" type="radio" name="change-2-group" value="Yes" {{ checked('change-2-group','Yes') }}>
                            <label for="accept-change2-yes">Yes</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="accept-change2-no" type="radio" name="change-2-group" value="No" {{ checked('change-2-group','No') }}>
                            <label for="accept-change2-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </li>
        </ul>

        <div class="form-group">
            <input type="submit" class="button" value="Submit">
        </div>
    </form>

</main>

{% endblock %}