{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">Check your answers</h1>

    <table>
        <tbody>
            <tr><h2 class="heading-medium">Location & Contact</h2></tr>
            <tr>
                <td>Works location description</td>
                <td>{{ data['works-location-description'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#works-location-description">
                        Change <span class="visuallyhidden">works location description</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Works location</td>
                <td>{{ data['works-location-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#works-location-1">
                        Change <span class="visuallyhidden">works location</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description of work #1</td>
                <td>{{ data['description-of-work-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#description-of-work-1">
                        Change <span class="visuallyhidden">description of work 1</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description of work #2</td>
                <td>{{ data['description-of-work-2'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#description-of-work-2">
                        Change <span class="visuallyhidden">description of work 2</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Excavation</td>
                <td>{{ data['excavation-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#excavation-yes">
                        Change <span class="visuallyhidden">excavation</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Contact details</td>
                <td>{{ data['contact-details'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#contact-details">
                        Change <span class="visuallyhidden">contact details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Promoter agent</td>
                <td>{{ data['promoter-agent'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#promoter-agent">
                        Change <span class="visuallyhidden">promoter agent</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Secondary site contact details</td>
                <td>{{ data['secondary-contact'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#secondary-contact">
                        Change <span class="visuallyhidden">secondary site contact details</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Commercially sensitive</td>
                <td>{{ data['commercially-sensitive-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#commercially-sensitive-yes">
                        Change <span class="visuallyhidden">commercially sensitive</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Lane rental applicable</td>
                <td>{{ data['lane-rental-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen2#lane-rental-yes">
                        Change <span class="visuallyhidden">lane rental applicable</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>

    <div class="form-group">
        <a href="/alpha/v3-0/promoter-planner/permit-application-screen3" class="button">Continue</a>
    </div>
</main>

{% endblock %}