{% extends "layout.html" %}

{% block page_title %}
Create New Work - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">promo@sm.com</span>
        </div>
    </div>

    <h1 class="heading-large">Check your answers</h1>

    <table>
        <tbody>
            <tr><h2 class="heading-medium">Screen 1 Name</h2></tr>
            <tr>
                <td>Promoter Name</td>
                <td>{{ data['promoter-name'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#promoter-name">
                        Change <span class="visuallyhidden">promoter name</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>USRN</td>
                <td>{{ data['usrn'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#usrn">
                        Change <span class="visuallyhidden">usrn</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Road Category</td>
                <td>{{ data['road-category'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#road-category">
                        Change <span class="visuallyhidden">road category</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Highway Authority</td>
                <td>{{ data['highway-authority'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#highway-authority">
                        Change <span class="visuallyhidden">highway authority</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Work Reference Number</td>
                <td>{{ data['workreferencenumber'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#workreferencenumber">
                        Change <span class="visuallyhidden">work reference number</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td> Proposed Start Date</td>
                {% if data['start-day'] != '' %}
                <td>{{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#start-date-day">
                        Change <span class="visuallyhidden">start date</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Proposed End Date</td>
                {% if data['end-day'] != '' %}
                <td>{{ data['end-day'] }}/{{ data['end-month'] }}/{{ data['end-year'] }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#end-date-day">
                        Change <span class="visuallyhidden">end date</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{ data['duration'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#duration">
                        Change <span class="visuallyhidden">duration</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Traffic Management Type</td>
                <td>{{ data['traffic-management-type-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#road-closure">
                        Change <span class="visuallyhidden">traffic management type</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Work Category</td>
                <td>{{ data['work-category-group'] }}</td>
                <td class="change-answer">
                    <a href="/alpha/v3-0/promoter-planner/permit-application-screen1#work-category-1">
                        Change <span class="visuallyhidden">work category</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br/>

    <div class="form-group">
        <a href="/alpha/v3-0/promoter-planner/permit-application-screen2" class="button">Continue</a>
    </div>
</main>

{% endblock %}