{% extends "layout.html" %}

{% block page_title %}
Change Conditions - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <a href="task-list-page.html" class="link-back" title="Back to previous question">Back</a>

    <h2 class="heading-large">Change Conditions</h2>

    <form action="change-conditions" method="post" >

        <div class="form-group">
            <label class="form-label" for="condition-select">Select condition</label>
            <select class="form-control" id="condition-select" name="condition-select">
                <option value="nct01a">NCT01a</option>
                <option value="nct01b">NCT01b</option>
                <option value="nct02a">NCT02a</option>
                <option value="nct02b">NCT02b</option>
                <option value="nct04a">NCT04a</option>
                <option value="nct04b">NCT04b</option>
                <option value="nct05a">NCT05a</option>
                <option value="nct06a">NCT06a</option>
                <option value="nct07a">NCT07a</option>
                <option value="nct08a">NCT08a</option>
                <option value="nct08b">NCT08b</option>
                <option value="nct09a">NCT09a</option>
                <option value="nct09b">NCT09b</option>
                <option value="nct09c">NCT09c</option>
                <option value="nct10a">NCT10a</option>
                <option value="nct11b">NCT11b</option>
                <option value="nct12a">NCT12a</option>
                <option value="nct13">NCT13</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label" for="condition-reason">Permit condition reason</label>
            <input class="form-control" id="condition-reason" name="condition-reason" type="text">
        </div>
        <br/>

        <div class="form-group">
            <input type="button" id="add-condition" class="button" value="Add">
        </div>


        <div id="conditions-table">
            <h3 class="heading-small">Permit conditions</h3>
            <table>
                <thead>
                <th>Name</th>
                <th>Reason</th>
                <th></th>
                </thead>
                <tbody>
                {% for condition in data['conditions-name'] %}
                <tr id="{{ condition }}">
                    <td><input class="form-control" name="conditions-name[]" type="hidden" value="{{ condition }}">{{ condition }}</td>
                    <td><input class="form-control" name="conditions-reason[]" type="hidden" value="{{ data['conditions-reason'][loop.index -1 ] }}">{{ data['conditions-reason'][loop.index -1 ] }}</td>
                    <td><span class="remove-condition"><a href="#" onclick="removeCondition({{ condition }})">Remove</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <fieldset class="inline">
            <div style="padding-top: 20px">
                <label>Reason for changing conditions</label>
                <textarea id="changeConditionsComment" value="" class="form-control form-control-3-4" name="changeConditionsComment" rows="5"></textarea>
            </div>
        </fieldset>

        <br/>
        <div class="form-group">
            <input type="submit" class="button" value="Save & continue">
        </div>
    </form>
</main>

<script type="text/javascript">

  $(document).ready(function () {

    $("#add-condition").click(function () {
      var conditionName = $("#condition-select option:selected").text();
      var conditionReason = $("#condition-reason").val();
      var conditionVal = $("#condition-select option:selected").val();

      var conditionNameTD = "<td><input class='form-control' name='conditions-name[]' type='hidden' value='" + conditionName + "'>" + conditionName + "</td>"
      var conditionReasonTD = "<td><input class='form-control' name='conditions-reason[]' type='hidden' value='" + conditionReason + "'>" + conditionReason + "</td>"
      var markup = "<tr id='"+ conditionVal + "'>" + conditionNameTD + conditionReasonTD + "<td><span class=\"remove-condition\"><a href=\"#\" onclick='removeCondition(" + conditionVal + ")'>Remove</a></span></td></tr>";
      $("table tbody").append(markup);

      $("#condition-reason").val("");
    })
  });

  function removeCondition(conditionId) {
    $(conditionId).remove();
  };
</script>


{% endblock %}