<div class="admin">
    {% extends "layout.html" %}

    {% block page_title %}
    My homepage - Street Manager
    {% endblock %}

    {% block content %}

    <main id="content" role="main">

        {% include "includes/phase_banner_alpha.html" %}

        <div class="breadcrumbs">
            <div>
                <!-- the rest of this label is hidden, only used for screenreaders -->
                <span class="visuallyhidden"> to the previous page</span>
                <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
                <span style="float:right; margin-right:10px;">ha@sm.com</span>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-large">My homepage</h2>
            </div>
        </div>

        {% include "../templates/search.html" %}

        <div id="dashboard">
            <div id="works" class="container-metrics grid-row">
                <div class="column-full">
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Needs response</h2>
                            <br/>
                            <br/>
                            <p><a href="needs-action.html">View</a></p>
                        </div>
                    </div>

                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Map</h2>
                            <br/>
                            <br/>
                            <p><a href="map-search.html">View</a></p>
                        </div>
                    </div>

                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Reinstatements</h2>
                            <br/>
                            <br/>
                            <p><a href="overdue-reinstatements.html">View</a></p>
                        </div>
                    </div>
                </div>

                <div class="column-full">
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Performance dashboard</h2>
                            <br/>
                            <p><a href="performance-dashboard.html">View</a></p>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Reporting</h2>
                            <br/>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                </div>

                <div class="column-full">
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">FPNs</h2>
                            <br/>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Section 74</h2>
                            <br/>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Inspections</h2>
                            <br/>
                            <br/>
                            <p><a href="add-inspection.html">View</a></p>
                        </div>
                    </div>
                </div>

                <div class="column-full">
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">All works</h2>
                            <br/>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Pending works</h2>
                            <br/>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Works in progress</h2>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                </div>

                <div class="column-full">
                    <div class="column-one-third">
                        <div class="box-metrics" style="height: 200px;">
                            <h2 class="heading-medium">Completed works</h2>
                            <br/>
                            <p><a href="#">View</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% endblock %}

</div>
