{% extends "layout.html" %}

{% block page_title %}
HA Officer Home - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <h2 class="heading-large">Needs response</h2>

    <div class="form-group">
        <label class="form-label" for="tm-plan-select">Filter by works category</label>
        <select class="form-control" id="tm-plan-select" name="tm-plan-select">
            <option value="NA">Select...</option>
            <option value="0">Major</option>
            <option value="1">Minor</option>
            <option value="2">Urgent</option>
            <option value="3">Standard</option>
        </select>
    </div>

    <table class="table" id="needs-action-table">
        <thead>
            <th>Works reference</th>
            <th>Proposed start date</th>
            <th>Estimated end date</th>
            <th>Works category</th>
            <th>Location description</th>
            <th>Status</th>
            <th></th>
        </thead>
        <tbody>
        {% if data['workreferencenumber'] != '' %}
            <tr>
                <input type="hidden" name="tm-plan" value="1">
                <td>{{ data['workreferencenumber'] }}</td>
                <td>{{ data['start-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}</td>
                <td>{{ data['end-day'] }}/{{ data['start-month'] }}/{{ data['start-year'] }}</td>
                <td>{{ data['workcategorygroup'] }}</td>
                <td>{{ data['works-location-description'] }}</td>
                <td>Submitted for PA Approval</td>
                <td><a href="task-list-page.html">View</a></td>
            </tr>
        {% endif %}
        <tr>
            <input type="hidden" name="tm-plan" value="1">
            <td>CT0224443466</td>
            <td>21/02/2018</td>
            <td>23/02/2018</td>
            <td>Minor</td>
            <td>O/S Costa j/w Harrow Road</td>
            <td>Submitted for PA Approval</td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <input type="hidden" name="tm-plan" value="3">
            <td>EC40010725431</td>
            <td>03/04/2018</td>
            <td>14/04/2018</td>
            <td>Standard</td>
            <td>o/s Prada shop. f\w.</td>
            <td>Work underway</td>
            <td><a href="#">View</a></td>
        </tr>
        <tr>
            <input type="hidden" name="tm-plan" value="0">
            <td>YG4253530630</td>
            <td>29/03/2018</td>
            <td>30/09/2018</td>
            <td>Major</td>
            <td>NB 10M PAST NORTHUMBERLAND AVE</td>
            <td>Work underway</td>
            <td><a href="#">View</a></td>
        </tr>

        <tr>
            <input type="hidden" name="tm-plan" value="1">
            <td>CT0223222490</td>
            <td>23/03/2018</td>
            <td>27/03/2018</td>
            <td>Minor</td>
            <td>O/S Whiteleys j/w Redan Place on xing</td>
            <td>Published forward plan</td>
            <td><a href="#">View</a></td>
        </tr>

        <tr>
            <input type="hidden" name="tm-plan" value="2">
            <td>MU3010000306</td>
            <td>28/03/2017</td>
            <td>30/03/2017</td>
            <td>Urgent</td>
            <td>CARRIAGEWAY OUTSIDE OF NO 28 DEVONSHIRE MEWS WEST</td>
            <td>Submitted for PA approval</td>
            <td><a href="#">View</a></td>
        </tr>

        </tbody>
    </table>
    <a style="float:right; margin-top: 20px" href="">Next ></a>
</main>

<script type="text/javascript">

  $(document).ready(function () {

    $('#tm-plan-select').change(function () {
      var selectedOption = $( "#tm-plan-select option:selected" ).val()
      if(selectedOption == "NA"){
        $('#needs-action-table tbody tr').each(function(i, row){
          var $row = $(row);
          $row.removeClass("js-hidden");
        })
      } else {
        $('#needs-action-table tbody tr').each(function (i, row) {
          var $row = $(row);
          var tmplan = ($row.find('input[name="tm-plan"]')).val();
          if (tmplan != selectedOption) {
            $row.addClass("js-hidden");
          } else {
            $row.removeClass("js-hidden");
          }
        })
      }
    });
  })

</script>

{% endblock %}