{% extends "layout.html" %}

{% block page_title %}
Permit Application - Street Manager
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    {% if validationError %}
    <p class="error-summary">{{validationError}}</p>
    {% endif %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <a href="task-list-page.html" class="link-back" title="Back to previous question">Back</a>

    <h2 class="heading-large">4. Collaboration</h2>

    <form action="screen4-check-answers" method="post" >

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="tm-yes">Is a traffic management plan required?</label>
                <div class="multiple-choice">
                    <input id="tm-yes" type="radio" name="tm-group" value="Yes" {{ checked('tm-group','Yes') }}>
                    <label for="tm-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="tm-no" type="radio" name="tm-group" value="No" {{ checked('tm-group','No') }}>
                    <label for="tm-no">No</label>
                </div>
            </div>
        </fieldset>

        <div class="js-hidden" id="tm-plan">
            <div class="form-group">
                <label class="form-label" for="traffic-management-plan">Traffic management plan</label>
                <input type="file" id="traffic-management-plan" name="traffic-management-plan"/>
            </div>

            <div class="panel panel-border-narrow" id="file-details">
                <label class="form-label" for="attachment-title">Attachment title</label>
                <input class="form-control" id="attachment-title" name="attachment-title" type="text" value="">
                <input class="button" type="button" value="Upload" role="button" id="upload-button">
            </div>

            <div id="attachments-table">
                <h3 class="heading-small">File attachments</h3>
                <table>
                    <thead>
                    <th>Title</th>
                    <th>File type</th>
                    <th>File name</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for fileName in data['file-attached-detail'] %}
                    <tr id="{{ fileName }}">
                        <td><input class="form-control" name="file-attached-detail[]" type="hidden" value="{{ fileName }}">{{ fileName }}</td>
                        <td>PNG Image</td>
                        <td><input class="form-control" name="file-attached-name[]" type="hidden" value="{{ data['file-attached-name'][loop.index -1 ] }}">{{ data['file-attached-name'][loop.index -1 ] }}</td>
                        <td><img src='/public/images/renteq.png' alt='Preview' width='150' height='150'/></td>
                        <td><span class="remove-attachment"><a href="#" onclick="removeAttachment({{ fileName }})">Remove</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
            </div>
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="collaboration-yes">Collaborative working</label>
                <div class="multiple-choice" data-target="collaboration-type">
                    <input id="collaboration-yes" type="radio" name="collaboration-group" value="Yes" {{ checked('collaboration-group','Yes') }}>
                    <label for="collaboration-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="collaboration-no" type="radio" name="collaboration-group" value="No" {{ checked('collaboration-group','No') }}>
                    <label for="collaboration-no">No</label>
                </div>
            </div>
        </fieldset>

        <div class="panel panel-border-narrow js-hidden" id="collaboration-type">
            <fieldset>
                    <label class="form-label" for="collaboration-type-1">Collaboration type</label>
                    <div class="multiple-choice">
                        <input id="collaboration-type-1" type="radio" name="collaboration-type-group" style="margin-bottom: 100px;" value="Trench sharing - primary promoter" {{ checked('description-of-work-group','Trench sharing - primary promoter') }}>
                        <label for="collaboration-type-1" style="padding-right: 300px;">Trench sharing - primary promoter</label>
                        <br/>
                    </div>
                    <br/>
                    <div class="multiple-choice">
                        <input id="collaboration-type-2" type="radio" name="collaboration-type-group" value="Trench sharing - secondary promoter" {{ checked('description-of-work-group','Trench sharing - secondary promoter') }}>
                        <label for="collaboration-type-2">Trench sharing - secondary promoter</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="collaboration-type-3" type="radio" name="collaboration-type-group" value="Sharing traffic management only" {{ checked('description-of-work-group','Sharing traffic management only') }}>
                        <label for="collaboration-type-3">Sharing traffic management only</label>
                    </div>
            </fieldset>
            <br/>
            <label class="form-label" for="collaboration-details">Collaboration details</label>
            <input class="form-control" id="collaboration-details" name="collaboration-details" type="text" value="{{ data['collaboration-details'] }}">
        </div>

        <fieldset class="inline">
            <div class="form-group">
                <label class="form-label" for="environmental-health-yes">Environmental health notifiable</label>
                <div class="multiple-choice">
                    <input id="environmental-health-yes" type="radio" name="environmental-health-group" value="Yes" {{ checked('environmental-health-group','Yes') }}>
                    <label for="environmental-health-yes">Yes</label>
                </div>
                <div class="multiple-choice">
                    <input id="environmental-health-no" type="radio" name="environmental-health-group" value="No" {{ checked('environmental-health-group','No') }}>
                    <label for="environmental-health-no">No</label>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label class="form-label" for="project-reference">Project reference number (optional)</label>
            <input class="form-control" id="project-reference" type="text" name="project-reference" value="{{ data['project-reference'] }}">
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Save & Continue">
        </div>
    </form>
</main>

<script type="text/javascript">

  $(document).ready(function () {

    if($('#tm-yes').prop('checked')) {
      $("#tm-plan").removeClass("js-hidden");
      $("#tm-plan").show();
    }

    $('input[type=radio][name=tm-group]').change(function() {
      if (this.value == 'Yes') {
        $("#tm-plan").removeClass("js-hidden");
        $("#tm-plan").show();
      }
      else if (this.value == 'No') {
        $("#tm-plan").hide();
      }
    });


    $("#upload-button").click(function () {
      var file = $('#traffic-management-plan')[0].files[0];

      var fileName = file.name;
      var attachmentTitle = $("#attachment-title").val();
      var markup = "<tr><td><input type='hidden' name='file-attached-detail[]' value='"+ attachmentTitle+"'>" + attachmentTitle + "</td><td>PNG Image</td><td><input type='hidden' name='file-attached-name[]' value='" + fileName +"'>" + fileName + "</td><td><img src='/public/images/renteq.png' alt='Preview' width='150' height='150'/></td><td><span class=\"remove-attachment\"><a href=\"#\" onclick=\"removeAttachment(" + attachmentTitle + ")\">Remove</a></td></tr>";
      $("table tbody").append(markup);

      $("#attachments-table").removeClass("js-hidden");
      $("#file-name").val("");
    })
  });
</script>

{% endblock %}