{% extends "layout.html" %}

{% block page_title %}
Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <div>
      <!-- the rest of this label is hidden, only used for screenreaders -->
      <span class="visuallyhidden"> to the previous page</span>
      <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
      <span style="float:right; margin-right:10px;">ha@sm.com</span>
    </div>
  </div>


  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">
        {% if data['workreferencenumber'] %}
        <span class="heading-secondary">
                    WRN {{ data['workreferencenumber'] }}
                </span>
        {% endif %}
        Permit application
      </h1>

      {% include "../templates/keyinfo.html" %}

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            Work record detail
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-people" aria-describedby="people-completed">
                People
              </a>
              {% if data['PeopleComplete'] %}
              <strong class="task-completed" id="people-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="people-incompleted">Incomplete</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-activity" aria-describedby="activity-completed">
                Activity
              </a>
              {% if data['ActivityComplete'] %}
              <strong class="task-completed" id="activity-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="activity-incompleted">Incomplete</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-control" aria-describedby="control-completed">
                Control
              </a>
              {% if data['ControlComplete'] %}
              <strong class="task-completed" id="control-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="control-incompleted">Incomplete</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-location" aria-describedby="location-completed">
                Location
              </a>
              {% if data['LocationComplete'] %}
              <strong class="task-completed" id="location-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="location-incompleted">Incomplete</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-timings" aria-describedby="timings-completed">
                Timings
              </a>
              {% if data['TimingsComplete'] %}
              <strong class="task-completed" id="timings-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="timings-incompleted">Incomplete</strong>
              {% endif %}
            </li>
            <li class="task-list-item">
              <a  href="../promoter-planner/work-record-detail-coordination-collaboration" aria-describedby="coordination-collaboration-declaration-completed">
                Coordination & collaboration
              </a>
              {% if data['CoordinationCollaborationComplete'] %}
              <strong class="task-completed" id="coordination-collaboration-completed">Completed</strong>
              {% else %}
              <strong class="task-completed" id="coordination-collaboration-incompleted">Incomplete</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <a href="assessment-decision.html">Assess</a>
          </h2>
        <li class="task-list-item">
          {% if data['AssessComplete'] %}
          <strong class="task-completed" id="assess-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="assess-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        <br/>
        <li>
          <h2 class="task-list-section">
            <a href="../promoter-planner/permit-application-on-site.html">On site</a>
          </h2>
        <li class="task-list-item">
          {% if data['OnsiteComplete'] %}
          <strong class="task-completed" id="onsite-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="onsite-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        <br/>
        {% if data['ReinstatementRequired'] %}
        <li>
          <h2 class="task-list-section">
            <a href="../promoter-planner/reinstatement.html">Reinstatements</a>
          </h2>
        <li class="task-list-item">
          {% if data['ReinstatementsComplete'] %}
          <strong class="task-completed" id="reinstatement-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="reinstatement-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        {% endif %}
        <br/>
        {% if data['ReinstatementsComplete'] %}
        <li>
          <h2 class="task-list-section">
            <a href="add-inspection.html">Inspections</a>
          </h2>
        <li class="task-list-item">
          {% if data['InspectionsComplete'] %}
          <strong class="task-completed" id="inspections-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="inspections-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        {% endif %}
        <br/>
        {% if data['ReinstatementsComplete'] %}
        <li>
          <h2 class="task-list-section">
            <a href="#">Non Compliance</a>
          </h2>
        <li class="task-list-item">
          {% if data['NoncomplianceComplete'] %}
          <strong class="task-completed" id="noncompliance-completed">Complete</strong>
          {% else %}
          <strong class="task-completed" id="nocompliance-incompleted">Incomplete</strong>
          {% endif %}
        </li>
        </li>
        {% endif %}
      </ol>
    </div>

    <div>
      <p>
        <a href="view-history.html">View History</a>
      </p>
    </div>
</main>

{% endblock %}