{% extends "layout.html" %}

{% block page_title %}
Work Record
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <a href="task-list-page.html" class="link-back" title="Back to previous question">Back</a>

    {% if validationError %}
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
            {{validationError}}
        </h2>
    </div>
    {% endif %}

    <div class="heading-large">WRN CT12345</div>
    <div>
        <div class="heading-medium">Key information</div>
        <table>
            <tbody>
            <tr>
                <td class="bold-small">Street name</td>
                <td>High Road Acton</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">USRN</td>
                <td>84058392</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Start date</td>
                <td>05/02/2018</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">End date</td>
                <td>07/02/2018</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">HA</td>
                <td>LB of Acton</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Work category</td>
                <td>Minor</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Traffic management type </td>
                {% if data['TmDecisionChanged'] %}
                    <td>Two-way signals</td>
                {% else %}
                    <td>Stop/go boards</td>
                {% endif %}
                <td><a href="permit-application-screen1.html">Change</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="heading-medium">Assessment Criteria</div>
    <div>
        <table>
            <tbody>
            <tr>
                <td class="bold-small">Road category</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Duration</td>
                <td>2 Weeks</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Works location description</td>
                <td>O/S Whiteleys j/w Redan Place on xing</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Description of work 1</td>
                <td>Leakage</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Description of work 2</td>
                <td>Fixing leak in water mains under road</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Excavation</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Is traffic management plan required?</td>
                <td>Yes</td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Condition chosen</td>
                <td></td>
                <td><a href="permit-application-screen3.html">Change</a></td>
            </tr>
            <tr>
                <td class="bold-small">TM</td>
                <td>
                    <img src="/public/images/renteq.png" alt="Preview" width="150" height="150">
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Collaborative working type</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Collaborative working detail</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="bold-small">Environmental health</td>
                <td>Yes</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="heading-medium">Assessment decision</div>

    {% if data['TmDecisionChanged'] %}
    <div style="border: 2px solid #0b0c0c; padding: 10px 0 10px 10px; margin-bottom: 20px">
        <div>Changes required</div>
        <ul class="list list-bullet">
            <li>Traffic management type Stop/go boards to Two-way signals </li>
            {% if data['PermitConditionsChanged'] %}
                <li>NCT06A has been added</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

    <form action="/alpha/v3-0/ha-officer/assessment-decision" method="POST">
        <div class="form-group {{'form-group-error' if validationError}}">
            <fieldset>
                <legend>

                    {% if validationError %}
                    <span class="error-message">Select the type of assessment decision</span>
                    {% endif %}
                </legend>
                    <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="options" value="Grant">
                        <label for="radio-1">Grant</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-2" type="radio" name="options" value="Grant with changes">
                        <label for="radio-2">Grant with changes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-3" type="radio" name="options" value="Refuse">
                        <label for="radio-3">Refuse</label>
                    </div>
            </fieldset>
            <div style="padding-top: 20px">
                <div class="form-group">
                    <label class="form-label" for="subject">Subject</label>
                    <input class="form-control" id="subject" name="subject" type="text">
                </div>
                <label>Comment</label>
                <textarea class="form-control form-control-3-4" name="comment" id="comment" rows="5"></textarea>
            </div>

        </div>
        <button class="button" type="submit">Submit decision</button>
    </form>

</main>

{% endblock %}


