{% extends "layout.html" %}

{% block page_title %}
Work Record
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <div class="heading-large">Assessment</div>

    <form>
        <div class="form-group">
            <fieldset>

                <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group" value="Accept">
                    <label for="radio-1">Accept</label>
                </div>
                <div class="multiple-choice">
                    <input id="radio-2" type="radio" name="radio-group" value="Accept with conditions">
                    <label for="radio-2">Accept with conditions</label>
                </div>
                <div class="multiple-choice">
                    <input id="radio-3" type="radio" name="radio-group" value="Reject">
                    <label for="radio-3">Reject</label>
                </div>
                <div class="multiple-choice">
                    <input id="radio-4" type="radio" name="radio-group" value="Add comment">
                    <label for="radio-4">Add comment</label>
                </div>

            </fieldset>
        </div>
    </form>

</main>

{% endblock %}


