{% extends "layout.html" %}

{% block page_title %}
Work Record
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    {% if validationError %}
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
            {{validationError}}
        </h2>
    </div>
    {% endif %}

    <div class="heading-large">WRN CT12345</div>

    <div class="heading-medium">Key info here...</div>

    <!--<div style="padding-bottom: 60px">-->
        <!--<table>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>Promoter name</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>USRN</td>-->

            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Road category</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>WRN</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>USRN</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Proposed Start</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Proposed End</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Duration</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Traffic management type</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Work category</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Works location description</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Description of works 1</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Description of works 2</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Excavation</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Lane rental applicable</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Permit condition</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Is traffic management plan required</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>TM</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Collaborative working</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Collaboration type</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Collaboration details</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Environmental health has been notified</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <form action="/alpha/v3-0/ha-officer/assessment-decision" method="POST">
        <div class="form-group {{'form-group-error' if validationError}}">
            <fieldset>
                <legend>
                    <span class="form-label-bold">Assessment decision</span>
                    {% if validationError %}
                    <span class="error-message">Select the type of assessment decision</span>
                    {% endif %}
                </legend>
                    <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="options" value="Accept">
                        <label for="radio-1">Accept</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-2" type="radio" name="options" value="Accept with changes">
                        <label for="radio-2">Accept with changes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-3" type="radio" name="options" value="Refuse">
                        <label for="radio-3">Refuse</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-4" type="radio" name="options" value="Add comment">
                        <label for="radio-4">Add comment</label>
                    </div>

            </fieldset>
        </div>
        <button class="button" type="submit">Submit</button>
    </form>

</main>

{% endblock %}


