{% extends "layout.html" %}

{% block page_title %}
Work Record
{% endblock %}

{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->

    {% include "includes/phase_banner_alpha.html" %}

    <div class="breadcrumbs">
        <div>
            <!-- the rest of this label is hidden, only used for screenreaders -->
            <span class="visuallyhidden"> to the previous page</span>
            <a id="sign-out" href="sign_in" style="float:right">Sign out</a>
            <span style="float:right; margin-right:10px;">ha@sm.com</span>
        </div>
    </div>

    <div class="heading-large">WRN CT12345</div>
    <div class="heading-medium">Key information</div>
    <div style="padding-bottom: 60px;">
        <table>
            <tbody>
            <tr>
                <td class="bold-small">Street name</td>
                <td>High Road Acton</td>
            </tr>
            <tr>
                <td class="bold-small">USRN</td>
                <td>84058392</td>
            </tr>
            <tr>
                <td class="bold-small">Start date</td>
                <td>05/02/2018</td>
            </tr>
            <tr>
                <td class="bold-small">End date</td>
                <td>07/02/2018</td>
            </tr>
            <tr>
                <td class="bold-small">HA</td>
                <td>LB of Acton</td>
            </tr>
            <tr>
                <td class="bold-small">Work category</td>
                <td>Minor</td>
            </tr>
            <tr>
                <td class="bold-small">Traffic management type</td>
                <td>Two-way signals</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">
                    You have granted PA 123125125
                </h1>
            </div>
        </div>
    </div>

    <a class="button" href="dashboard.html">Return to dashboard</a>

</main>

{% endblock %}


